<!DOCTYPE html>
<html>
	<head>
		<!-- <!-- Make site responsive on mobile/tablet -->
<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.11.6, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
<link rel="shortcut icon" href="/images/circle-cropped.png" type="image/x-icon">
  <meta name="description" content=""> 
		<title>VIT</title>
		<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css" rel="stylesheet"> -->
		<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet"> -->
		<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
		<link rel="stylesheet" href="/stylesheets/main.css">
		<style media="screen"> --> 
		 <!-- 

		   <!-- <link rel="stylesheet" href="/stylesheets/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="/stylesheets/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/stylesheets/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/stylesheets/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="/stylesheets/assets/tether/tether.min.css">
  <link rel="stylesheet" href="/stylesheets/assets/animatecss/animate.min.css">
  <link rel="stylesheet" href="/stylesheets/assets/theme/css/style.css">
  <link rel="preload" as="style" href="/stylesheets/assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css"> --> 
	<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

	<link rel="stylesheet" href="/stylesheets/main.css">
	<link rel="stylesheet" href="/stylesheets/landing.css">
		
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/item.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/container.min.css" integrity="sha256-7rJADGJ6l3YF6uxVoTB1b6xhQb93nEsuYsCBmXQX7Ds=" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integfrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"> */ -->

	<script type="text/javascript" language="javascript" src="datetimepicker/js/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

   <link rel="stylesheet" href="/stylesheets/jquery.datetimepicker.min.css">
   <script type="text/javascript" language="javascript" src="/stylesheets/jquery.datetimepicker.full.js"></script> -->
		////////////////
			
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<link href="https://fonts.googleapis.com/css?family=Cairo&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/main.css">
	<link rel="stylesheet" href="/stylesheets/landing.css">
		<link href="https://fonts.googleapis.com/css?family=Bree+Serif|Cairo&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/item.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/container.min.css" integrity="sha256-7rJADGJ6l3YF6uxVoTB1b6xhQb93nEsuYsCBmXQX7Ds=" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		
	<style type="text/css">
		.bg-dark {
			background-color: #1c2331;;
		}
		.dropdown-menu {
			background-color: #1c2331;; 
		}
		.dropdown-item {
			background-color: #1c2331;;
			color: white;
		}
		.navbar-dark {
			background: #1c2331;; 
		}
		#highlight {
		color: #00F;
		}
		.ui-datepicker .ui-widget-content {
		background: #4A85D3;
		}
		*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;

}
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: #1c2331;;
	font-family: 'Cairo', sans-serif;

	
	



}
		
.logo{
	color: rgb(226,226,226);
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
}
		/*
.nav-links{
	display: flex;
	justify-content: space-around;
	width: 30%;
}
.nav-links li{
	list-style: none;
}
.nav-links a{
	color:rgb(226,226,226);
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;


}
.burger div{
	width: 25px;
	height: 3px;
	background-color:rgb(226,226,226);
	margin:5px;

}
.nav-links li a:hover{
		background-color: blue;
		background-size:80px 60px;
		padding: 18px;
	}
	.nav-links li a:click {
		background-color: green;
		background-size:80px 60px;
		padding: 18px -10px;
	}
.burger {
	display: none;
	cursor: pointer;
}
@media screen and (max-width: 1024px){
	.nav-links{
		
		width: 60%;
	}
}
@media screen and (max-width: 768px){
	body{
		overflow-x: hidden;
	}
	.nav-links{
		position: absolute;
		left:0px;
		height: 92vh;
		top:8vh;
		background-color: #5D4954;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		z-index:5;
	position:absolute;
		transform: translateX(-100%);
		transition: transform 0.5s ease-in;
	}
	.nav-links li{
		opacity:1;
	}
	.nav-links li a:hover{
		background-color: blue;
	}
	.burger{
		display: block;
	}
}
.nav-active{
	z-index:5;
	position:absolute;
	transform: translateX(0%);
} 

	</style>
		<script >
		const navSlide = () => {
		const burger = document.querySelector('.burger');
		const nav = document.querySelector('.nav-links');
		const navLinks = document.querySelectorAll('.nav-links li');
		burger.addEventListener('click',function(){
			nav.classList.toggle('nav-active');
		});
		}
		navSlide();
		
		
    
		$(document).ready(function(){
        var date_input=$('input[name="date"]');
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        });

		})
	     </script>

		<style media="screen"></style>
	
	<style type="text/css">
	.bg-dark {
			background-color: #1c2331;;
		}
	.dropdown-menu {
			background-color: #1c2331;; 
		}
	.dropdown-item {
		background-color: #1c2331;;
			color: white;
		}
	.navbar-dark {
			background: #1c2331;; 
		}
		#show{
			margin-left: 100px;
		}
	#highlight {
		color: #00F;
		}
		.ui-datepicker .ui-widget-content {
		background-color: #494049;
		
	}
	#date{
			color:white;
			}
		
	

  #main{
  background-color:#1c2331;;
  border-radius:25px;
  padding:50px;
  margin-right: 3.75%;
  margin-left: 45%;
	
  }
  #header{
  background-color:#1c2331;;
  border-radius:25px;
  padding:10px 10px 10px 30px;
  }
  ul{
  display:inline-block;
  }
  ul li{
  display:inline-block;
  }
		@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
#cssmenu {
  position: relative;
  margin: 0;
  font-family: 'Roboto Condensed';
  line-height: 1;
  width: 250px;
}
.align-right {
  float: right;
}

.dropbtn {

  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown1 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	
  color: #1c2331;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #6351ce;
	color:white;
	border-radius:10px;
}

/* Show the dropdown menu on hover */

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown1:hover .dropbtn {background-color: #263238;
		height:50px;}
		#pri:hover {background-color:#263238;
		}
  a{
  color: black;
  }
  .scrollable{
   overflow: auto;
   height: 80px; 
 
 }
		#blocks .btn: visited{
			color: blue;
		}
		
 .scrollable select{
   border: none;
 }
			.im {
		width : 100%;
		z-index : 0;
		
	}
		body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: white;
    }

    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
 
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
 
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: black;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    }
	.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;

    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    }
		@media only screen and (max-width: 700px) {
			#msg{
				margin-top:20%;
				
				
				
			}
			#fl{
				margin-left:16%;
			}
			.dropdown1:hover .dropdown-content {display: block;
	margin-left:25%;
		margin-top:5px;
		border-radius:10px;}

	}
		@media only screen and (min-width: 1200px) {
			#fl{
				
				
				
				
				
			}
			.dropdown1:hover .dropdown-content {display: block;
	
		margin-top:5px;
		border-radius:10px;}

		
	}
</style>
		
	<script>
    $(document).ready(function(){
        $('#date-time').datetimepicker();});
		
	</script>

		 
	</head>
	<body>


 
 <nav style="letter-spacing:0.2rem;" class="navbar navbar-expand-lg navbar-dark fixed-top">
  <h6><a class="navbar-brand" href="/"><img style="width:40px;height:40px;" 
										src="/images/circle-cropped.png">
	  <span style="font-family: 'Cairo';color: grey;font-size:12px;"><span>|
		  VITCONNEX
		  </span></span>
	  </a></h6>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div  style="	font-family: 'Cairo', sans-serif;" class="collapse navbar-collapse navbar-toggleable-sm text-center" id="navbarNav">
    <ul style="justify-content:space-around" class="navbar-nav nav-links mr-auto text-center">
      <li class="nav-item dropdown1 text-center ">
        <a style="	font-family: 'Cairo', sans-serif;margin-right:2rem;" class="nav-link  dropbtn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" hover="dropdown">
          SHARE MY CAB
        </a>
        <div  class=" dropdown-content" aria-labelledby="navbarDropdown">
          <a class="" href="/share/new"><b>Share yours</b></a>
          <a class= " " href="/share"><b>Request someone</b></a>
        </div>
      </li>
	 
      <li class="nav-item dropdown1">
        <a style="margin-right:2rem;" class="nav-link dropbtn" href="#"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" hover="dropdown">
          VIT-EX
        </a>
		
			     <div style="	font-family: 'Cairo', sans-serif;" class=" dropdown-content" aria-labelledby="navbarDropdown">
          <a style="	font-family: 'Cairo', sans-serif;" class="" href="/adPost"><b>Buy</b></a>
          <a style="	font-family: 'Cairo', sans-serif;" class="" href="/adPost/category"><b>Sell</b></a>
          <a style="	font-family: 'Cairo', sans-serif;"  class="" href="/adPost/request"><b>Request a Product!</b></a>
        </div>
		
     
      </li>
      <li id="pri" style="	font-family: 'Cairo', sans-serif;margin-top:10px;margin-right:2rem;" style="" class="nav-item dropdown1 ">
        <a class="nav-link " href="/adPost/resources">RESOURCES</a>
      </li>
    </ul>

    <form class="form-inline" action="/adPost" method="GET">
      <input id="fl" style="max-width:200px;margin-top:4%;margin-bottom:4%;" class="form-control mr-sm-2" type="search" placeholder="Search For Ads" name="search" aria-label="Search">
      <button style="float:left;" class="btn btn-outline-light my-2 my-sm-0" type="submit" value="search"><i class="fa fa-search"></i></button>
    </form>
	  <li style="	font-family: 'Cairo', sans-serif;margin-top:10px;margin-left:15px;margin-bottom:10px;padding-bottom:-20px;" class="nav-item btn btn-info btn-sm text-center">
        <a class="nav-link " href="/adPost/category">POST ADS</a>
      </li>
 
   				 <ul class="navbar-nav ml-auto">
					<% if(!currentUser || !(currentUser.verified) ){ %>

							<li   class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
								<a  href="/login" class="nav-link"><i class="fas fa-user-plus"></i> LOGIN</a></li>

						  <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">
							  <a    href="/register" class="nav-link"><i class="fas fa-user"></i> SIGN UP</a></li>
					  <% } else { %>
						  <li class="nav-item" >
							  <a href="/users/<%= currentUser._id %>" class="nav-link"><i class="fas fa-user-tie"></i><%= currentUser.name %></a></li>
						  <li class="nav-item">
							  <a  href="/logout" class="nav-link">LOGOUT</a></li>
					  <% } %>
				
    	</ul>

	</div>

	
		</nav>
 

		
		
		
		
<!-- 		
		
<nav>
	<div class="logo">
		<h4>The Nav</h4>
	</div>
	<ul class="nav-links">
		<li><a href="#">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Work</a></li>
		<li><a href="#">Project</a></li>
	</ul>
	<div class="burger">
		<div class="line1"></div>
		<div class="line2"> </div>
		<div class="line3"></div>
		<div class="line4"></div>
	</div>
</nav>
		
		 -->
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		

		
		
		
		
		
		
		
		
		
		
		
		
		
		<div id="msg" class="container">
			<% if(error && error.length > 0){ %>
			<div style="margin-top:10%"  class="alert alert-danger" role="alert">
	 <%= error %>
	</div>
				<% } %>
				<% if(success && success.length > 0){ %>
			<div style="margin-top:10%;margin-bottom:-10%;"  class="alert alert-success" role="alert">
	 <%= success %>
	</div>	
				<% } %>
		</div>
				
	
	
	
	
	

	