<!DOCTYPE html>
<html>
	<head>
		<!-- <!-- Make site responsive on mobile/tablet -->
<!-- 
		<title>VIT</title>
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
		<link rel="stylesheet" href="/stylesheets/main.css">
		<style media="screen"> --> -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Vit</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

	<link rel="stylesheet" href="/stylesheets/main.css">
	<link rel="stylesheet" href="/stylesheets/landing.css">
		
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/item.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/container.min.css" integrity="sha256-7rJADGJ6l3YF6uxVoTB1b6xhQb93nEsuYsCBmXQX7Ds=" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		<script>
    
		$(document).ready(function(){
        var date_input=$('input[name="date"]');
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        });

		})
	     </script>

		<style media="screen"></style>
	
	<style type="text/css">
	.bg-dark {
			background-color: #041245;
		}
	.dropdown-menu {
			background-color: #041245; 
		}
	.dropdown-item {
		background-color: #041245;
			color: white;
		}
	.navbar-dark {
			background: #041245; 
		}
		#show{
			margin-left: 100px;
		}
	#highlight {
		color: #00F;
		}
		.ui-datepicker .ui-widget-content {
		background-color: #494049;
		
	}
	#date{
			color:white;
			}
		
	

  #main{
  background-color:#F1E6E5;
  border-radius:25px;
  padding:50px;
  margin-right: 3.75%;
  margin-left: 45%;
	
  }
  #header{
  background-color:#F1E6E5;
  border-radius:25px;
  padding:10px 10px 10px 30px;
  }
  ul{
  display:inline-block;
  }
  ul li{
  display:inline-block;
  }
  a{
  color: black;
  }
  .scrollable{
   overflow: auto;
   height: 80px; 
 
 }
		#blocks .btn: visited{
			color: blue;
		}
		
 .scrollable select{
   border: none;
 }
			.im {
		width : 100%;
		z-index : 0;
		
	}
		body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: white;
    }

    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
 
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
 
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    }
	.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;

    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    }
</style>
		
	

		 
	</head>
	<body>


 
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <a class="navbar-brand" href="#">Vit</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ShareMyCab
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/share/new">Share yours</a>
          <a class= "dropdown-item " href="/share">Request someone</a>
        </div>
      </li>
	 
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          V-EX
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/adPost">Buy</a>
          <a class="dropdown-item" href="/adPost/category">Sell</a>
          <a class="dropdown-item" href="/adPost/category2">Request a Product!</a>
        </div>
      </li>
      <li class="nav-item">
        <a id="highlight" class="nav-link" href="/adPost/resources">Resources</a>
      </li>
    </ul>
    <form class="form-inline" action="/adPost" method="GET">
      <input class="form-control mr-sm-2" type="search" placeholder="Search..." name="search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit" value="search"><i class="fa fa-search"></i></button>
    </form>
 
   				 <ul class="navbar-nav ml-auto">
					<% if(!currentUser){ %>

							<li  class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
								<a href="/login" class="nav-link"><i class="fas fa-user-plus"></i>Login</a></li>

						  <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">
							  <a  href="/register" class="nav-link"><i class="fas fa-user"></i>Sign Up</a></li>
					  <% } else { %>
						  <li class="nav-item" >
							  <a href="/users/<%= currentUser._id %>" class="nav-link"><i class="user secret icon"></i><%= currentUser.username %></a></li>
						  <li class="nav-item">
							  <a  href="/logout" class="nav-link">Logout</a></li>
					  <% } %>
					<!-- </ul>
   
    	</ul>
  </div>
</nav>
<!-- 			

<nav style="padding: 0px 20px;" class="  navbar navbar-expand-lg navbar-dark fixed-top">
  <a class="navbar-brand" href="/">Vit</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
		 <li class="nav-item dropdown">
        <a id="highlight" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ShareMyCab
        </a>
			
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>" href="/share/new">Share yours</a>
          <a class="dropdown-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>" href="/share">Request someone</a>
        </div>
      </li>
     <!-- <li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a href="" class="nav-link">share my cab</a></li> -->
				  <!-- </ul>
	  <li class="nav-item">
        <a class="nav-link <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %> dropdown-toggle" href="/resources">Resources</a>
      </li>
      <li class="nav-item navbar-collapse dropdown" id="navbarSupportedContent">
        <a class="nav-link <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %> dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          V-EX
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/campgrounds">Buy</a>
          <a class="dropdown-item" href="/campgrounds/category">Sell</a>
          <a class="dropdown-item" href="#">Request a Product!</a>
        </div>
      </li>
      
 
    
		
		<ul class="navbar-nav navbar-right">
							<!-- <form class="form-inline" action="/campgrounds" method="GET">
							  <input class="form-control mr-sm-2" type="search" placeholder="Ad search..." placeholder="Search..." aria-label="Search">
							  <button class="btn btn-outline-light my-2 my-sm-0" value="search" type="submit"></button>
							</form> -->
							 <!-- <form  action="/campgrounds" method="GET" >
							
							<input  style="margin-right:40px" class="form-control mr-sm-2" type="text" name="search" placeholder="Ad search..." aria-label="Search">
								 <button class="btn btn-outline-light my-0 mx-4 my-sm-0" type="submit" value="search"> <i class="fa fa-search"></i></button>
							
							</form>	 
			
   				 <ul class="navbar-nav ml-auto">
					<% if(!currentUser){ %>

							<li  class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
								<a href="/login" class="nav-link"><i class="fas fa-user-plus"></i>Login</a></li>

						  <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">
							  <a  href="/register" class="nav-link"><i class="fas fa-user"></i>Sign Up</a></li>
					  <% } else { %>
						  <li class="nav-item" >
							  <a href="/users/<%= currentUser._id %>" class="nav-link"><i class="user secret icon"></i><%= currentUser.username %></a></li>
						  <li class="nav-item">
							  <a  href="/logout" class="nav-link">Logout</a></li> -->
					  <% } %> 
					<!-- </ul>
    	<li class="nav-item">
    		<a class="nav-link" href="#">Sign Up <i class="fas fa-user-plus"></i></a>
    	</li>
    	<li class="nav-item">
    		<a class="nav-link" href="#">Sign In <i class="fas fa-user"></i></a>
    	</li> -->
    	</ul>
	</ul>
		

</nav> 

		

	
			<!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		  <a class="navbar-brand" href="/">VITBLOG</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarCollapse">

			  <ul class="navbar-nav mr-auto">
					<li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a href="/campgrounds" class="nav-link">Home</a></li>
				  </ul> 


			  <ul class="navbar-nav navbar-right">
					<% if(!currentUser){ %>

							<li  class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
								<a href="/login" class="nav-link">Login</a></li>

						  <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">
							  <a  href="/register" class="nav-link">Sign Up</a></li>
					  <% } else { %>
						  <li class="nav-item" >
							  <a href="#" class="nav-link">Signed In As <%= currentUser.username %></a></li>
						  <li class="nav-item">
							  <a  href="/logout" class="nav-link">Logout</a></li>
					  <% } %>
					</ul>
 




			<!-- <form class="form-inline mt-2 mt-md-0">
			  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
			  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form> -->
		  </div>
		</nav>


		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		<div class="container">
			<% if(error && error.length > 0){ %>
			<div style="margin-top:60px;"  class="alert alert-danger" role="alert">
	 <%= error %>
	</div>
				<% } %><hr>
				<% if(success && success.length > 0){ %>
			<div style="margin-top:60px;"  class="alert alert-success" role="alert">
	 <%= success %>
	</div>	
				<% } %>
		</div>
				
	
	
	
	
	

	