
<% include ../partials/header %>



<style>
	@media only screen and (max-width: 700px) {
			#cad{
				
				margin:10px;
				margin-left:20px;
				width:320px;
				
				
				
			}
		#cat{
				max-width:600px;
				margin-left:5%;
				
				
				
			}
			#bo{
				border: 2px solid grey;
			}
			#ple{
				max-width:368px;
			}
		#big{
			display:none;
		}
	#in1:hover{
		margin-bottom:160px;
	}
	#in2:hover{
		margin-bottom:300px;
	}
	#in3:hover{
		margin-bottom:160px;
	}
	#in4:hover{
		margin-bottom:200px;
	}
	#in5:hover{
		margin-bottom:160px;
	}
	#in6:hover{
		margin-bottom:200px;
	}
	#in7:hover{
		margin-bottom:200px;
	}
	#in8:hover{
		margin-bottom:160px;
	}
	#in9:hover{
		margin-bottom:160px;
	}
	#in10:hover{
		margin-bottom:160px;
	}
	#in11:hover{
		margin-bottom:120px;
	}
	#in12:hover{
		margin-bottom:120px;
	}
	}
	@media only screen and (min-width: 1200px) {
			#cad{
				
				margin:25px;
				width:460px;
				margin-left:5%;
				
				
			}
		#new{
			margin-top:3px;
			float:right;
		}
		#imm{
			margin-right:20px;
		}
			#mobile{
			display:none;
		}
		#ple{
			max-width:300px;
		}
	}
</style>

<!-- <div style="margin-top:5%;" class="row conatainer">
	
<!-- <div class="col-lg-3">
	
	
				  <a href="#" class="list-group-item btn btn-light list-group-item-action active" >
					CATEGORIES
				  </a>
				
				  
	<div class="ui fluid vertical menu">
		
						<div class="ui link item ">
						<a  href="/adPost/category/all/request" class="text"><i class="home icon"></i>ALL</a>
						</div>
		
  
			   <div class="ui left pointing simple dropdown link item ">
				<i class="dropdown icon"></i>
				<span class="text"><i class="mobile alternate icon"></i>Mobiles</span>
				<div class="menu" style="margin-top:-42px; ">
					<a class="list-group-item list-group-item-action" class="item" href="/adPost/category/mobile/request" ><i class="mobile alternate icon"></i>Mobile Phones</a>

				  <a class="list-group-item list-group-item-action"class="item" href="/adPost/category/mobile/request"><i class="mobile icon"></i>Accessories</a>

				  <a  class="list-group-item list-group-item-action" class="item"href="/adPost/category/mobile/request"><i class="tablet alternate icon"></i>Tablets</a>
				</div>
			  </div>
		
		
			  <div class="ui left pointing simple dropdown item">
				<i class="dropdown icon"></i>
				<span class="text"><i class="computer icon"></i>Electronics & Appliances</span>
				<div class="menu" style="margin-top:-42px; ">
				  <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/electronics/request" ><i class="laptop icon"></i>Laptops</a>

				  <a class="list-group-item list-group-item-action" href="/adPost/category/electronics/request" class="item" ><i class="calculator icon"></i>Calculator</a>

				  <a class="list-group-item list-group-item-action" class="item" href="/adPost/category/electronics/request" ><i class="mouse pointer icon"></i>Mouse</a>

				  <a class="list-group-item list-group-item-action"class="item" href="/adPost/category/electronics/request"><i class="hdd icon"></i>Hard Disks, Pendrives</a>

				  <a class="list-group-item list-group-item-action" class="item" href="/adPost/category/electronics/request"><i class="camera retro icon"></i>Camera & Lenses</a>

				  <a class="list-group-item list-group-item-action" class="item" href="/adPost/category/electronics/request" value="electronics" ><i class="itunes note icon"></i>Headphones & Speakers</a>

				  <a class="list-group-item list-group-item-action" class="item" href="/adPost/category/electronics/request" value="electronics"  ><i class="gamepad icon"></i>Games & Entertainment</a>
				</div>
			  </div>

		
		
		
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="bicycle icon"></i>Cycle</span>
    <div class="menu" style="margin-top:-45px; ">
      <a class="list-group-item list-group-item-action" href="/adPost/category/cycle/request"  ><i class="bicycle icon"></i>Cycle</a>
      <a class="list-group-item list-group-item-action" href="/adPost/category/cycle/request"  ><i class="bicycle icon"></i>Cycle Ascessories</a>
      <a class="list-group-item list-group-item-action" href="/adPost/category/cycle/request" ><i class="bicycle icon"></i>Cycle For Rent</a>
    </div>
  </div>
		
		
		
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="book icon"></i>Books & Notes</span>
    <div class="menu" style="margin-top:-42px; ">
      <a class="list-group-item list-group-item-action" href="/adPost/category/books/request"><i class="book icon"></i>Academic Books</a>
      
      <a class="list-group-item list-group-item-action" href="/adPost/category/books/request"><i class="book icon"></i>Novels</a>
      
      <a class="list-group-item list-group-item-action" href="/adPost/category/books/request"><i class="newspaper outline icon"></i>Class Notes</a>
      
      <a class="list-group-item list-group-item-action" href="/adPost/category/books/request"><i class="newspaper outline icon"></i>CAT-II Notes</a>
    </div>
</div>
		
		
		
   <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="microchip icon"></i>Project Components</span>
    <div class="menu" style="margin-top:-42px; ">
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/project/request"><i class="rss icon"></i>Sensors</a>
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/project/request" ><i class="microchip icon"></i>Microcontrollers</a>
		<a class="item" class="list-group-item list-group-item-action" href="/adPost/category/project/request" ><i class="code icon"></i>Others</a>
 
  </div>
		</div>
		
		
		
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="futbol icon"></i>Sports & Outdoor</span>
    <div class="menu" style="margin-top:-42px; ">
      <a  class="item" class="list-group-item list-group-item-action" href="/adPost/category/project/request"class="item" ><i class="shopping bag icon"></i>Sports Wear</a>
      
      <a  class="item" class="list-group-item list-group-item-action" href="/adPost/category/project/request"class="item" ><i class="table tennis icon"></i>Sports Equipment</a>
      
      <a  class="item" class="list-group-item list-group-item-action" href="/adPost/category/project/request" class="item" ><i class="studiovinari icon"></i>Gym & Fitness</a>
      <a  class="item" class="list-group-item list-group-item-action" href="/adPost/category/project/request" class="item" ><i class="gamepad icon"></i>Musical Instruments</a>
    </div>
  </div>
	   
		
		
		
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="shopping cart icon"></i>Fashion</span>
    <div class="menu" style="margin-top:-40px; ">
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/Fashion/request" >Footwear</a>
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/Fashion/request"  >Clothing</a>
      
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/Fashion/request"  >Watch</a>
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/Fashion/request" >Coolers/spectacles</a>
    </div>
	  </div>
		
		
		
		
		
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="gem icon"></i>Jewelery & Cosmetics</span>
    <div class="menu" style="margin-top:-42px; ">
      <a class="list-group-item list-group-item-action" href="/adPost/category/Jewelery/request" class="item" >Ring</a>
     

      <a class="list-group-item list-group-item-action" href="/adPost/category/Jewelery/request"  class="item" >Necklace</a>
      
      <a class="list-group-item list-group-item-action" href="/adPost/category/Jewelery/request"  class="item"  >Cosmetics</a>
    </div>
  </div>
		
		
		
		
   <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
     <span class="text"><i class="gem icon"></i>Personal Care</span>
    
    <div class="menu" style="margin-top: -42px">
      <a class="list-group-item list-group-item-action" href="/adPost/category/Personal_Care/request"class="item" >Hair Dryer</a>
     
      <a class="list-group-item list-group-item-action" href="/adPost/category/Personal_Care/request"class="item" >Trimmers</a>
  
      <a class="list-group-item list-group-item-action" href="/adPost/category/Personal_Care/request"class="item" >Others</a>
    </div>
  </div>
		
		
		
		
    <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
     <span class="text"><i class="gem icon"></i>Movies and Games/subscriptions</span>
    
    <div class="menu" style="margin-top: -42px">
      <a class="list-group-item list-group-item-action" href="/adPost/category/Movie/request" class="item" ><i class="gamepad icon"></i>Movie Tickets</a>
     
      <a class="list-group-item list-group-item-action" href="/adPost/category/Movie/request"class="item" ><i class="gamepad icon"></i>Popular Games</a>
      <a class="list-group-item list-group-item-action" href="/adPost/category/Movie/request" class="item" ><i class="gamepad icon"></i>BoardGames/rubix</a>
      
  
      <a class="list-group-item list-group-item-action" href="/adPost/category/Movie/request" class="item" >Other Subscriptions Sharing</a>
  </div>
	</div> -->
		
		
		
		
  <!-- <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
     <span class="text"><i class="food icon"></i>Foods/Snacks</span>
    
    <div class="menu" style="margin-top: -42px">
      <a class="list-group-item list-group-item-action" href="/adPost/category/Foods/request"class="item"><i class="utensils icon"></i>Food items</a>
     
      <a class="list-group-item list-group-item-action" href="/adPost/category/Foods/request"class="item"class="item"  ><i class="shopping basket icon"></i>Nutritious Food</a>
  
    </div>
  </div>
		
		
		
	  
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
     <span class="text"><i class="gem icon"></i>Others</span>
    
    <div class="menu" style="margin-top: -42px">
      <a class="list-group-item list-group-item-action" href="/adPost/category/others/request" class="item" ><i class="gift icon"></i>Gift Items</a>
     
      <a class="list-group-item list-group-item-action" href="/adPost/category/others/request" class="item" >Others</a>
  
    </div>
  </div>
	
		
		
		

   </div>

</div> --> -->
<div  class="row text-center" style="display:flex;">
		<div  id="ple" class="col-lg-3 col-sm-5 col-xm-12 "  style="border: 2px solid grey; padding-top: 20px; ">
			<div style="width:280px;" id="big"class="list-group">
				  <a href="#" class="list-group-item btn btn-light list-group-item-action active" >
					CATEGORIES
				  </a>
				
			
				
	<div  style="max-width:600px" >
	<div class="ui fluid vertical menu">
		
	<div class="ui link item ">
    
	  
    <a  href="/adPost/category/all/request" class="text"><i class="home icon"></i>ALL</a>

  </div>
  <div class="ui left pointing simple dropdown link item ">
    <i class="dropdown icon"></i>

    <span class="text"><i class="mobile alternate icon"></i>Mobiles</span>
    <div class="menu" style="margin-top:-42px; ">
		<a class="list-group-item list-group-item-action" class="item" href="/adPost/category/mobile/request" ><i class="mobile alternate icon"></i>Mobile Phones</a>
      
      <a class="list-group-item list-group-item-action"class="item" href="/adPost/category/mobile/request"><i class="mobile icon"></i>Accessories</a>
      
      <a  class="list-group-item list-group-item-action" class="item"href="/adPost/category/mobile/request"><i class="tablet alternate icon"></i>Tablets</a>
		<a class="list-group-item list-group-item-action" href="/adPost/category/mobile/request"class="item" >Others</a>
    </div>
  </div>
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
	  

    <span class="text"><i class="computer icon"></i>Electronics & Appliances</span>
    <div class="menu" style="margin-top:-42px; ">
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/electronics/request" ><i class="laptop icon"></i>Laptops</a>
    
      <a class="list-group-item list-group-item-action" href="/adPost/category/electronics/request" class="item" ><i class="calculator icon"></i>Calculator</a>
      
      <a class="list-group-item list-group-item-action" class="item" href="/adPost/category/electronics/request" ><i class="mouse pointer icon"></i>Mouse</a>
    
      <a class="list-group-item list-group-item-action"class="item" href="/adPost/category/electronics/request"><i class="hdd icon"></i>Hard Disks, Pendrives</a>
      
      <a class="list-group-item list-group-item-action" class="item" href="/adPost/category/electronics/request"><i class="camera retro icon"></i>Camera & Lenses/Lamps</a>
      
      <a class="list-group-item list-group-item-action" class="item" href="/adPost/category/electronics/request" value="electronics" ><i class="itunes note icon"></i>Headphones & Speakers</a>
    
      <a class="list-group-item list-group-item-action" class="item" href="/adPost/category/electronics/request" value="electronics"  ><i class="gamepad icon"></i>Games & Entertainment</a>
		<a class="list-group-item list-group-item-action" href="/adPost/category/electronics/request"class="item" >Others</a>
    </div>
  </div>
		
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="bicycle icon"></i>Cycle</span>
    <div class="menu" style="margin-top:-45px; ">
      <a class="list-group-item list-group-item-action" href="/adPost/category/cycle/request"  ><i class="bicycle icon"></i>Cycle</a>
      <a class="list-group-item list-group-item-action" href="/adPost/category/cycle/request"  ><i class="fas fa-biking"></i> Cycle Ascessories</a>
      <a class="list-group-item list-group-item-action" href="/adPost/category/cycle/request" ><i class="fas fa-motorcycle"></i> Cycle For Rent</a>
		<a class="list-group-item list-group-item-action" href="/adPost/category/cycle/request"class="item" >Others</a>
    </div>
  </div>
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="book icon"></i>Books & Notes</span>
    <div class="menu" style="margin-top:-42px; ">
      <a class="list-group-item list-group-item-action" href="/adPost/category/books/request"><i class="book icon"></i>Academic Books</a>
      
      <a class="list-group-item list-group-item-action" href="/adPost/category/books/request"><i class="book icon"></i>Novels</a>
      
      <a class="list-group-item list-group-item-action" href="/adPost/category/books/request"><i class="newspaper outline icon"></i>Class Notes</a>
      
      <a class="list-group-item list-group-item-action" href="/adPost/category/books/request"><i class="newspaper outline icon"></i>CAT-II Notes</a>
		<a class="list-group-item list-group-item-action" href="/adPost/category/books/request"class="item" >Others</a>
    </div>
</div>
   <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="microchip icon"></i>Project Components</span>
    <div class="menu" style="margin-top:-42px; ">
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/project/request"><i class="rss icon"></i>Sensors</a>
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/project/request" ><i class="microchip icon"></i>Microcontrollers</a>
		<a class="item" class="list-group-item list-group-item-action" href="/adPost/category/project/request" ><i class="code icon"></i>Others</a>
 
  </div>
		</div>
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="futbol icon"></i>Sports & Outdoor</span>
    <div class="menu" style="margin-top:-42px; ">
      <a  class="item" class="list-group-item list-group-item-action" href="/adPost/category/project/request"class="item" ><i class="shopping bag icon"></i>Sports Wear</a>
      
      <a  class="item" class="list-group-item list-group-item-action" href="/adPost/category/project/request"class="item" ><i class="table tennis icon"></i>Sports Equipment</a>
      
      <a  class="item" class="list-group-item list-group-item-action" href="/adPost/category/project/request" class="item" ><i class="studiovinari icon"></i>Gym & Fitness</a>
      <a  class="item" class="list-group-item list-group-item-action" href="/adPost/category/project/request" class="item" ><i class="gamepad icon"></i>Musical Instruments</a>
		<a class="list-group-item list-group-item-action" href="/adPost/category/project/request"class="item" >Others</a>
    </div>
  </div>
	   
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="shopping cart icon"></i>Fashion</span>
    <div class="menu" style="margin-top:-40px; ">
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/Fashion/request" ><i class="fas fa-socks"></i> Footwear</a>
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/Fashion/request"  ><i class="fas fa-tshirt"></i> Clothing</a>
      
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/Fashion/request"  ><i class="fas fa-clock"></i> Watch</a>
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/Fashion/request" ><i class="fas fa-glasses"></i> Coolers/spectacles</a>
		<a class="list-group-item list-group-item-action" href="/adPost/category/Fashion/request"class="item" >Others</a>
    </div>
	  </div>
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="gem icon"></i>Jewelery & Cosmetics</span>
    <div class="menu" style="margin-top:-42px; ">
      <a class="list-group-item list-group-item-action" href="/adPost/category/Jewelery/request" class="item" ><i class="fas fa-ring"></i> Ring</a>
     

      <a class="list-group-item list-group-item-action" href="/adPost/category/Jewelery/request"  class="item" ><i class="fas fa-gem"></i> Jewelery</a>
      
      <a class="list-group-item list-group-item-action" href="/adPost/category/Jewelery/request"  class="item"  ><i class="fas fa-eye"></i> Cosmetics</a>
		<a class="list-group-item list-group-item-action" href="/adPost/category/Jewelery/request"class="item" >Others</a>
    </div>
  </div>
   <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
     <span class="text"><i class="fas fa-user-alt"></i> Personal Care</span>
    
    <div class="menu" style="margin-top: -42px">
      <a class="list-group-item list-group-item-action" href="/adPost/category/Personal_Care/request"class="item" >Hair Dryer</a>
     
      <a class="list-group-item list-group-item-action" href="/adPost/category/Personal_Care/request"class="item" >Trimmers</a>
  
      <a class="list-group-item list-group-item-action" href="/adPost/category/Personal_Care/request"class="item" >Others</a>
    </div>
  </div>
    <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
     <span class="text"><i class="fab fa-xbox"></i> Movies and Games/subscriptions</span>
    
    <div class="menu" style="margin-top: -42px">
      <a class="list-group-item list-group-item-action" href="/adPost/category/Movie/request" class="item" ><i class="fas fa-video"></i> Movie Tickets</a>
     
      <a class="list-group-item list-group-item-action" href="/adPost/category/Movie/request"class="item" ><i class="gamepad icon"></i> Popular Games</a>
      <a class="list-group-item list-group-item-action" href="/adPost/category/Movie/request" class="item" ><i class="fas fa-chess-board"></i> BoardGames/rubix</a>
      
  
      <a class="list-group-item list-group-item-action" href="/adPost/category/Movie/request" class="item" > Other Subscriptions Sharing</a>
  </div>
	</div>
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
     <span class="text"><i class="food icon"></i>Foods/Snacks</span>
    
    <div class="menu" style="margin-top: -42px">
      <a class="list-group-item list-group-item-action" href="/adPost/category/Foods/request"class="item"><i class="utensils icon"></i>Food items</a>
     
      <a class="list-group-item list-group-item-action" href="/adPost/category/Foods/request"class="item"class="item"  ><i class="shopping basket icon"></i>Nutritious Food</a>
  <a class="list-group-item list-group-item-action" href="/adPost/category/Foods/request"class="item" >Others</a>
    </div>
  </div>
	  
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
     <span class="text"><i class="gem icon"></i>Others</span>
    
    <div class="menu" style="margin-top: -42px">
      <a class="list-group-item list-group-item-action" href="/adPost/category/others/request" class="item" ><i class="gift icon"></i> Gift Items</a>
     
      <a class="list-group-item list-group-item-action" href="/adPost/category/others/request" class="item" >Others</a>
  
    </div>
  </div>
	

</div>
</div>
			</div>
	
				
		
			<div  class="row text-center" >
		<div  style="width:380px;"  id="bo" class="col-lg-3 col-sm-5 col-xm-12 "  style=" padding-top: 20px; ">
			<div  id="mobile" class="list-group">
				  <a href="#" class="list-group-item btn btn-light list-group-item-action active" >
					CATEGORIES
				  </a>
				
			
				
	<div  style="width:330px" >
	<div  class="ui fluid vertical menu">
		
	<div class="ui link item ">
    
	  
    <a  href="/adPost/category/all/request" class="text"><i class="home icon"></i>ALL</a>

  </div>
  <div id="in1" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>

    <span class="text"><i class="mobile alternate icon"></i>Mobiles</span>
    <div class="menu" >
		<a class="list-group-item list-group-item-action" class="item" href="/adPost/category/mobile/request" ><i class="mobile alternate icon"></i>Mobile Phones</a>
      
      <a class="list-group-item list-group-item-action"class="item" href="/adPost/category/mobile/request"><i class="mobile icon"></i>Accessories</a>
      
      <a  class="list-group-item list-group-item-action" class="item"href="/adPost/category/mobile/request"><i class="tablet alternate icon"></i>Tablets</a>
		<a class="list-group-item list-group-item-action" href="/adPost/category/mobile/request"class="item" >Others</a>
    </div>
  </div>
  <div id="in2" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
	  

    <span class="text"><i class="computer icon"></i>Electronics & Appliances</span>
    <div class="menu" >
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/electronics/request" ><i class="laptop icon"></i>Laptops</a>
    
      <a class="list-group-item list-group-item-action" href="/adPost/category/electronics/request" class="item" ><i class="calculator icon"></i>Calculator</a>
      
      <a class="list-group-item list-group-item-action" class="item" href="/adPost/category/electronics/request" ><i class="mouse pointer icon"></i>Mouse</a>
    
      <a class="list-group-item list-group-item-action"class="item" href="/adPost/category/electronics/request"><i class="hdd icon"></i>Hard Disks, Pendrives</a>
      
      <a class="list-group-item list-group-item-action" class="item" href="/adPost/category/electronics/request"><i class="camera retro icon"></i>Camera & Lenses</a>
      
      <a class="list-group-item list-group-item-action" class="item" href="/adPost/category/electronics/request" value="electronics" ><i class="itunes note icon"></i>Headphones & Speakers</a>
    
      <a class="list-group-item list-group-item-action" class="item" href="/adPost/category/electronics/request" value="electronics"  ><i class="gamepad icon"></i>Games & Entertainment</a>
		<a class="list-group-item list-group-item-action" href="/adPost/category/electronics/request"class="item" >Others</a>
    </div>
  </div>
		
  <div id="in3" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
    <span class="text"><i class="bicycle icon"></i>Cycle</span>
    <div class="menu" >
      <a class="list-group-item list-group-item-action" href="/adPost/category/cycle/request"  ><i class="bicycle icon"></i>Cycle</a>
      <a class="list-group-item list-group-item-action" href="/adPost/category/cycle/request"  ><i class="fas fa-biking"></i>Cycle Ascessories</a>
      <a class="list-group-item list-group-item-action" href="/adPost/category/cycle/request" ><i class="fas fa-motorcycle"></i>Cycle For Rent</a>
		<a class="list-group-item list-group-item-action" href="/adPost/category/cycle/request"class="item" >Others</a>
    </div>
	  
  </div>
  <div id="in4" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
    <span class="text"><i class="book icon"></i>Books & Notes</span>
    <div class="menu" >
      <a class="list-group-item list-group-item-action" href="/adPost/category/books/request"><i class="book icon"></i>Academic Books</a>
      
      <a class="list-group-item list-group-item-action" href="/adPost/category/books/request"><i class="book icon"></i>Novels</a>
      
      <a class="list-group-item list-group-item-action" href="/adPost/category/books/request"><i class="newspaper outline icon"></i>Class Notes</a>
      
      <a class="list-group-item list-group-item-action" href="/adPost/category/books/request"><i class="newspaper outline icon"></i>CAT-II Notes</a>
		<a class="list-group-item list-group-item-action" href="/adPost/category/books/request"class="item" >Others</a>
    </div>
</div>
   <div id="in5" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
    <span class="text"><i class="microchip icon"></i>Project Components</span>
    <div class="menu" >
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/project/request"><i class="rss icon"></i>Sensors</a>
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/project/request" ><i class="microchip icon"></i>Microcontrollers</a>
		<a class="item" class="list-group-item list-group-item-action" href="/adPost/category/project/request" ><i class="code icon"></i>Others</a>
 
  </div>
		</div>
  <div id="in6" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
    <span class="text"><i class="futbol icon"></i>Sports & Outdoor</span>
    <div class="menu" >
      <a  class="item" class="list-group-item list-group-item-action" href="/adPost/category/project"class="item" ><i class="shopping bag icon"></i>Sports Wear</a>
      
      <a  class="item" class="list-group-item list-group-item-action" href="/adPost/category/project/request"class="item" ><i class="table tennis icon"></i>Sports Equipment</a>
      
      <a  class="item" class="list-group-item list-group-item-action" href="/adPost/category/project/request" class="item" ><i class="studiovinari icon"></i>Gym & Fitness</a>
      <a  class="item" class="list-group-item list-group-item-action" href="/adPost/category/project/request" class="item" ><i class="gamepad icon"></i>Musical Instruments</a>
		<a class="list-group-item list-group-item-action" href="/adPost/category/project/request"class="item" >Others</a>
    </div>
  </div>
	   
  <div id="in7" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
    <span class="text"><i class="shopping cart icon"></i>Fashion</span>
    <div class="menu" >
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/Fashion/request" ><i class="fas fa-socks"></i>Footwear</a>
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/Fashion/request"  ><i class="fas fa-tshirt"></i> Clothing</a>
      
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/Fashion/request"  ><i class="fas fa-clock"></i>Watch</a>
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/Fashion/request" ><i class="fas fa-glasses"></i> Coolers/spectacles</a>
		<a class="list-group-item list-group-item-action" href="/adPost/category/Fashion/request"class="item" >Others</a>
    </div>
	  </div>
  <div id="in8" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
    <span class="text"><i class="gem icon"></i>Jewelery & Cosmetics</span>
    <div class="menu" >
      <a class="list-group-item list-group-item-action" href="/adPost/category/Jewelery/request" class="item" ><i class="fas fa-ring"></i>Ring</a>
     

      <a class="list-group-item list-group-item-action" href="/adPost/category/Jewelery/request"  class="item" ><i class="fas fa-gem"></i>Jewelery</a>
      
      <a class="list-group-item list-group-item-action" href="/adPost/category/Jewelery/request"  class="item"  ><i class="fas fa-eye"></i>Cosmetics</a>
		<a class="list-group-item list-group-item-action" href="/adPost/category/Jewelery/request"class="item" >Others</a>
    </div>
  </div>
   <div id="in9" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
     <span class="text"><i class="fas fa-user-alt"></i>Personal Care</span>
    
    <div class="menu" >
      <a class="list-group-item list-group-item-action" href="/adPost/category/Personal_Care/request"class="item" >Hair Dryer</a>
     
      <a class="list-group-item list-group-item-action" href="/adPost/category/Personal_Care/request"class="item" >Trimmers</a>
  
      <a class="list-group-item list-group-item-action" href="/adPost/category/Personal_Care/request"class="item" >Others</a>
    </div>
  </div>
    <div id="in10" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
     <span class="text"><i class="fab fa-xbox"></i>Movies and Games/subscriptions</span>
    
    <div class="menu" >
      <a class="list-group-item list-group-item-action" href="/adPost/category/Movie/request" class="item" ><i class="fas fa-video"></i>Movie Tickets</a>
     
      <a class="list-group-item list-group-item-action" href="/adPost/category/Movie/request"class="item" ><i class="gamepad icon"></i>Popular Games</a>
      <a class="list-group-item list-group-item-action" href="/adPost/category/Movie/request" class="item" ><i class="fas fa-chess-board"></i> BoardGames/rubix</a>
      
  
      <a class="list-group-item list-group-item-action" href="/adPost/category/Movie/request" class="item" >Other Subscriptions Sharing</a>
		<a class="list-group-item list-group-item-action" href="/adPost/category/Movie/request"class="item" >Others</a>
  </div>
	</div>
  <div id="in11" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
     <span class="text"><i class="food icon"></i>Foods/Snacks</span>
    
    <div class="menu" >
      <a class="list-group-item list-group-item-action" href="/adPost/category/Foods/request"class="item"><i class="utensils icon"></i>Food items</a>
     
      <a class="list-group-item list-group-item-action" href="/adPost/category/Foods/request"class="item"class="item"  ><i class="shopping basket icon"></i>Nutritious Food</a>
		<a class="list-group-item list-group-item-action" href="/adPost/category/Fodds/request"class="item" >Others</a>
  
    </div>
  </div>
	  
  <div id="in12" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
     <span class="text"><i class="gem icon"></i>Others</span>
    
    <div class="menu" >
      <a class="list-group-item list-group-item-action" href="/adPost/category/others/request" class="item" ><i class="gift icon"></i>Gift Items</a>
     
      <a class="list-group-item list-group-item-action" href="/adPost/category/others/request" class="item" >Others</a>
  
    </div>
  </div>
	

</div>
</div>

			</div>
				</div>
			</div>
	</div>
	
				
			
		
	<div class="col-lg-9" style=" "> 
		<a  href="/adPost/category2" data-toggle="tooltip" data-placement="top" title="POST YOUR JOURNEY">
  <i style="margin-left:-8%; margin-top:2%;" class="fas fa-plus-circle fa-3x"></i>
</a>
		
		<hr>
		<% allreq.forEach(function(adpost){%>
		
	
	
		<div id="cad" style="margin-top :60px;  float:left; hegith950px;" class="col-lg-3 ui raised card">
		  <div class="content">
			<div class="header"><%= adpost.reqTitle %></div>
			  <% if(currentUser && adpost.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
					
									<!-- <div class="float-right">
					<a class="btn btn-success" href = "/campgrounds/<%= adpost._id %>/comments/new">Add New Comment</a>
				                   </div> -->

						
									<form id="delete-form" action="/adPost/request/<%= adpost._id %>?_method=DELETE" method="POST">
									<button style="margin-bottom:20px;margin-top:-10px;float:right;" class="btn btn-danger">DELETE</button>	
										
										
									</form>
				
						<% } %>
			<div class="meta">
			  <span class="category">Expected-range:RS.<%= adpost.priceRange %></span>
			</div>
			<div style="height:70px;" class="description">
			  <p><%= adpost.description %> <%= moment(adpost.createdAt).fromNow() %></p>
			</div>
		  </div>
  <div class="extra content">
    <div class="right floated author">
		<p style="float:left; margin-right:100px">
			<%= adpost.block %> <%= adpost.Phone %>
		</p>
      <img id="imm"  class="ui avatar image" src="https://f0.pngfuel.com/png/980/304/man-profile-illustration-computer-icons-user-profile-avatar-png-clip-art.png"><span id="new"  ><%= adpost.author.name %>
		</span>
		
				
    </div>
  </div>
			</div>
		<% }); %>

		</div>
	
</div>			

	





			

<% include ../partials/footer %>