
<% include ../partials/header %>



<style>
	@media only screen and (max-width: 700px) {
			#cad{
				
				margin:10px;
				margin-left:20px;
				width:320px;
				
				
				
			}
	}
	@media only screen and (min-width: 1200px) {
			#cad{
				
				margin:25px;
				width:460px;
				
				
			}
		#new{
			margin-top:-25px;
			float:right;
		}
		#imm{
			left:-50px;
		}
	}
</style>
<div style="margin-top:5%;" class="row conatainer">
	
<div class="col-lg-3">
	
	
				  <a href="#" class="list-group-item btn btn-light list-group-item-action active" >
					CATEGORIES
				  </a>
				
				  
	<div class="ui fluid vertical menu">
		
						<div class="ui link item ">
						<a  href="/adPost/category/all" class="text"><i class="home icon"></i>ALL</a>
						</div>
		
  
			   <div class="ui left pointing simple dropdown link item ">
				<i class="dropdown icon"></i>
				<span class="text"><i class="mobile alternate icon"></i>Mobiles</span>
				<div class="menu" style="margin-top:-42px; ">
					<a class="list-group-item list-group-item-action" class="item" href="/adPost/category/mobile" ><i class="mobile alternate icon"></i>Mobile Phones</a>

				  <a class="list-group-item list-group-item-action"class="item" href="/adPost/category/mobile"><i class="mobile icon"></i>Accessories</a>

				  <a  class="list-group-item list-group-item-action" class="item"href="/adPost/category/mobile"><i class="tablet alternate icon"></i>Tablets</a>
				</div>
			  </div>
		
		
			  <div class="ui left pointing simple dropdown item">
				<i class="dropdown icon"></i>
				<span class="text"><i class="computer icon"></i>Electronics & Appliances</span>
				<div class="menu" style="margin-top:-42px; ">
				  <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/electronics" ><i class="laptop icon"></i>Laptops</a>

				  <a class="list-group-item list-group-item-action" href="/adPost/category/electronics" class="item" ><i class="calculator icon"></i>Calculator</a>

				  <a class="list-group-item list-group-item-action" class="item" href="/adPost/category/electronics" ><i class="mouse pointer icon"></i>Mouse</a>

				  <a class="list-group-item list-group-item-action"class="item" href="/adPost/category/electronics"><i class="hdd icon"></i>Hard Disks, Pendrives</a>

				  <a class="list-group-item list-group-item-action" class="item" href="/adPost/category/electronics"><i class="camera retro icon"></i>Camera & Lenses</a>

				  <a class="list-group-item list-group-item-action" class="item" href="/adPost/category/electronics" value="electronics" ><i class="itunes note icon"></i>Headphones & Speakers</a>

				  <a class="list-group-item list-group-item-action" class="item" href="/adPost/category/electronics" value="electronics"  ><i class="gamepad icon"></i>Games & Entertainment</a>
				</div>
			  </div>

		
		
		
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="bicycle icon"></i>Cycle</span>
    <div class="menu" style="margin-top:-45px; ">
      <a class="list-group-item list-group-item-action" href="/adPost/category/cycle"  ><i class="bicycle icon"></i>Cycle</a>
      <a class="list-group-item list-group-item-action" href="/adPost/category/cycle"  ><i class="bicycle icon"></i>Cycle Ascessories</a>
      <a class="list-group-item list-group-item-action" href="/adPost/category/cycle" ><i class="bicycle icon"></i>Cycle For Rent</a>
    </div>
  </div>
		
		
		
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="book icon"></i>Books & Notes</span>
    <div class="menu" style="margin-top:-42px; ">
      <a class="list-group-item list-group-item-action" href="/adPost/category/books"><i class="book icon"></i>Academic Books</a>
      
      <a class="list-group-item list-group-item-action" href="/adPost/category/books"><i class="book icon"></i>Novels</a>
      
      <a class="list-group-item list-group-item-action" href="/adPost/category/books"><i class="newspaper outline icon"></i>Class Notes</a>
      
      <a class="list-group-item list-group-item-action" href="/adPost/category/books"><i class="newspaper outline icon"></i>CAT-II Notes</a>
    </div>
</div>
		
		
		
   <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="microchip icon"></i>Project Components</span>
    <div class="menu" style="margin-top:-42px; ">
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/project"><i class="rss icon"></i>Sensors</a>
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/project" ><i class="microchip icon"></i>Microcontrollers</a>
		<a class="item" class="list-group-item list-group-item-action" href="/adPost/category/project" ><i class="code icon"></i>Others</a>
 
  </div>
		</div>
		
		
		
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="futbol icon"></i>Sports & Outdoor</span>
    <div class="menu" style="margin-top:-42px; ">
      <a  class="item" class="list-group-item list-group-item-action" href="/adPost/category/project"class="item" ><i class="shopping bag icon"></i>Sports Wear</a>
      
      <a  class="item" class="list-group-item list-group-item-action" href="/adPost/category/project"class="item" ><i class="table tennis icon"></i>Sports Equipment</a>
      
      <a  class="item" class="list-group-item list-group-item-action" href="/adPost/category/project" class="item" ><i class="studiovinari icon"></i>Gym & Fitness</a>
      <a  class="item" class="list-group-item list-group-item-action" href="/adPost/category/project" class="item" ><i class="gamepad icon"></i>Musical Instruments</a>
    </div>
  </div>
	   
		
		
		
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="shopping cart icon"></i>Fashion</span>
    <div class="menu" style="margin-top:-40px; ">
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/Fashion" >Footwear</a>
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/Fashion"  >Clothing</a>
      
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/Fashion"  >Watch</a>
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/Fashion" >Coolers/spectacles</a>
    </div>
	  </div>
		
		
		
		
		
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="gem icon"></i>Jewelery & Cosmetics</span>
    <div class="menu" style="margin-top:-42px; ">
      <a class="list-group-item list-group-item-action" href="/adPost/category/Jewelery" class="item" >Ring</a>
     

      <a class="list-group-item list-group-item-action" href="/adPost/category/Jewelery"  class="item" >Necklace</a>
      
      <a class="list-group-item list-group-item-action" href="/adPost/category/Jewelery"  class="item"  >Cosmetics</a>
    </div>
  </div>
		
		
		
		
   <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
     <span class="text"><i class="gem icon"></i>Personal Care</span>
    
    <div class="menu" style="margin-top: -42px">
      <a class="list-group-item list-group-item-action" href="/adPost/category/Personal_Care"class="item" >Hair Dryer</a>
     
      <a class="list-group-item list-group-item-action" href="/adPost/category/Personal_Care"class="item" >Trimmers</a>
  
      <a class="list-group-item list-group-item-action" href="/adPost/category/Personal_Care"class="item" >Others</a>
    </div>
  </div>
		
		
		
		
    <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
     <span class="text"><i class="gem icon"></i>Movies and Games/subscriptions</span>
    
    <div class="menu" style="margin-top: -42px">
      <a class="list-group-item list-group-item-action" href="/adPost/category/Movie" class="item" ><i class="gamepad icon"></i>Movie Tickets</a>
     
      <a class="list-group-item list-group-item-action" href="/adPost/category/Movie"class="item" ><i class="gamepad icon"></i>Popular Games</a>
      <a class="list-group-item list-group-item-action" href="/adPost/category/Movie" class="item" ><i class="gamepad icon"></i>BoardGames/rubix</a>
      
  
      <a class="list-group-item list-group-item-action" href="/adPost/category/Movie" class="item" >Other Subscriptions Sharing</a>
  </div>
	</div>
		
		
		
		
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
     <span class="text"><i class="food icon"></i>Foods/Snacks</span>
    
    <div class="menu" style="margin-top: -42px">
      <a class="list-group-item list-group-item-action" href="/adPost/category/Foods"class="item"><i class="utensils icon"></i>Food items</a>
     
      <a class="list-group-item list-group-item-action" href="/adPost/category/Foods"class="item"class="item"  ><i class="shopping basket icon"></i>Nutritious Food</a>
  
    </div>
  </div>
		
		
		
	  
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
     <span class="text"><i class="gem icon"></i>Others</span>
    
    <div class="menu" style="margin-top: -42px">
      <a class="list-group-item list-group-item-action" href="/adPost/category/others" class="item" ><i class="gift icon"></i>Gift Items</a>
     
      <a class="list-group-item list-group-item-action" href="/adPost/category/others" class="item" >Others</a>
  
    </div>
  </div>
	
		
		
		

   </div>

</div>
		
	<div class="col-lg-9" style=" "> 
		<% allreq.forEach(function(adpost){%>
		
	
	
		<div id="cad" style="margin-top :60px;  float:left; hegith950px;" class="col-lg-3 ui raised card">
		  <div class="content">
			<div class="header"><%= adpost.reqTitle %></div>
			  <% if(currentUser && adpost.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
					
									<!-- <div class="float-right">
					<a class="btn btn-success" href = "/campgrounds/<%= adpost._id %>/comments/new">Add New Comment</a>
				                   </div> -->

						
									<form id="delete-form" action="/adPost/request/<%= adpost._id %>?_method=DELETE" method="POST">
									<button style="margin-bottom:20px;margin-top:-10px;float:right;" class="btn btn-danger">DELETE</button>	
										
										
									</form>
				
						<% } %>
			<div class="meta">
			  <span class="category">Expected-range:RS.<%= adpost.priceRange %></span>
			</div>
			<div style="height:70px;" class="description">
			  <p><%= adpost.description %> <%= moment(adpost.createdAt).fromNow() %></p>
			</div>
		  </div>
  <div class="extra content">
    <div class="right floated author">
		<p style="float:left; margin-right:100px">
			<%= adpost.block %> <%= adpost.Phone %>
		</p>
      <img id="imm"  class="ui avatar image" src="https://image.flaticon.com/icons/svg/146/146031.svg"><span id="new"  ><%= adpost.author.username %>
		</span>
		
				
    </div>
  </div>
			</div>
		<% }); %>

		</div>
	
</div>			

	





			

<% include ../partials/footer %>