<% include ../partials/header %>



<div class="responsive" style="background-image:url(https://images.unsplash.com/photo-1460518451285-97b6aa326961?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);background-size:cover;background-repeat:no-repeat; margin:-60px auto;min-height:100%">


<div class="container">

		<div class="py-5 text-center">
			<h2 style="color:#FEDBD0;"><b>Resources - Question Papers<b></h2>
			<p style="color:#FEDBD0;" class="lead">Updated set of question papers which are easy to access</p>
		</div>


<div class="card-deck mb-3 text-center">

<div style="max-height:200px;" class="card mb-4 shadow-sm">
      <div class="card-body" style="background-color:#53ff1a;" style="border-radius:25px;">
        <h1 class="card-title pricing-card-title"><%= courses.course %></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li><h4 class="my-0 font-weight-normal"><%= courses.courseCode %></h4></li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">Syllabus + Books</button>
      </div>
</div>



<div class="card mb-8 shadow-sm">
  <div class="card-header"> 
    <ul class="nav nav-tabs card-header-tabs pull-right"  id="myTab" role="tablist">
      <li class="nav-item">
       <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">CAT - 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">CAT - 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">FAT</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
   <div class="tab-content" id="myTabContent">
   <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

	   
	   
	   <% qp.forEach(function(qp1){if(qp1.type == 'cat1'){ %>
	   
	   
	  <a style="margin-bottom:20rem;" href="<%= qp1.download%>" download><img style="max-height: 180px" src="<%= qp1.imageId%>"  ></a>
	   
	   <% }}); %>
	       <form method= "POST" action="/adPost/resources/<%= courses._id %>/question" enctype="multipart/form-data">
		   <input type="file" id="image" name="image" style="padding:10px 10px; " class=" mani form-control"accept="image/*" required >
		   <div class="form-group">
		<button style="padding: auto 600px;" class="btn  btn-lg btn-success" name="category"  type="submit" value ="cat1" class="form-control"  >POST</button>
			</div>
	   </form>
	   </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
	   
	  
	
	
<%  qp.forEach(function(qp1){if(qp1.type == 'cat2'){ %>
	   
	   
	  <a style="margin-bottom:5rem;" href="<%= qp1.download%>" download><img style="max-height: 180px" src="<%= qp1.imageId%>"  ></a>
	   
	   <% }}); %>
	   <form method= "POST" action="/adPost/resources/<%= courses._id %>/question" enctype="multipart/form-data">
		   <input type="file" id="image" name="image" style="padding:10px 10px; " class=" mani form-control"accept="image/*" required >
		   <div class="form-group">
		<button style="padding: auto 600px;" class="btn  btn-lg btn-success" type="submit" name="category"  value ="cat2" class="form-control"  >POST</button>
			</div>
	   </form>
	   </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
	   
	    
	  <%  qp.forEach(function(qp1){if(qp1.type == 'fat'){%>
	   
	   
	  <a style="margin-bottom:5rem;" href="<%= qp1.download%>" download><img style="max-height: 180px" src="<%= qp1.imageId%>"  ></a>
	   
	   <% }}); %>
	  <form method= "POST" action="/adPost/resources/<%= courses._id %>/question" enctype="multipart/form-data">
		   <input type="file" id="image" name="image" style="padding:30px 10px;" class=" mani form-control"accept="image/*" required >
		   <div class="form-group">
		<button style="padding: auto 600px;" class="btn  btn-lg btn-success" name="category" type="submit" value ="fat" class="form-control"  >POST</button>
			</div>
	   </form>
	   </div>
        </div>
  </div>
</div>
</div>
		







	
</div>












<% include ../partials/footer %>