
<% include ../partials/header %>


	
	

<header class="jumbotron">
	<div class="container">
		
		
		<h1>
			 Welcome to VITBLOGS
		</h1>
			<p>
				View our hand-picked campgrounds from all over the world
				
			</p>
		<p>
			<a class="btn btn-info btn-large" href = "/campgrounds/new">Add New Post</a>
		</p>
				<p>
					<form action="/campgrounds" method="GET" class="form-inline">
							<div class="form-group">
							<input type="text" name="search" placeholder="Ad search..." class="form-control">
								<input type="submit" value="search" class="btn btn-secondary">
							</div>
					</form>
		</p>
	</div>
</header>
		
	
	<div class="row text-center" style="display:flex">
		<div class="col-md-12">
			<% if(noMatch !== undefined){ %>
				<h3>
					<%= noMatch %>
			</h3>
			<% } %>
		</div>
		<% campgrounds.forEach(function(campground){%>
		<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
						<div class="card"  >
			  <img style="max-height: 180px" src="<%=campground.img1%>" class="card-img-top" alt="<%= campground.adTitle %>">
			  <div class="card-body">
				<h5 class="card-title"><%= campground.adTitle %></h5>
				
				<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
			  </div>
			</div>
			
			
			
		</div>
		<hr>
		<%});%>
	</div>


	


<% include ../partials/footer %>
