
<% include ../partials/header %>
<style>
	.ac1 a:hover{
		background-color:#06131f;
	}
		@media only screen and (max-width: 700px) {
			#rec{
				margin:5%;
				
			}


			#cat{
				max-width:600px;
				margin-left:5%;
				
				
				
			}
			#iad{
				margin-left:15%;
				width:150px;
				
			}
			#bo{
				border: 2px solid grey;
			}
			#ple{
				max-width:368px;
			}
		#big{
			display:none;
		}
	#in1:hover{
		margin-bottom:160px;
	}
	#in2:hover{
		margin-bottom:300px;
	}
	#in3:hover{
		margin-bottom:160px;
	}
	#in4:hover{
		margin-bottom:200px;
	}
	#in5:hover{
		margin-bottom:160px;
	}
	#in6:hover{
		margin-bottom:200px;
	}
	#in7:hover{
		margin-bottom:200px;
	}
	#in8:hover{
		margin-bottom:160px;
	}
	#in9:hover{
		margin-bottom:160px;
	}
	#in10:hover{
		margin-bottom:160px;
	}
	#in11:hover{
		margin-bottom:120px;
	}
	#in12:hover{
		margin-bottom:120px;
	}
	} 
	
	@media only screen and (min-width: 1440px) {
			#cat{
				margin:5% auto;
				max-width:570px;
				
				
				
			}
		#iad{
			margin-left:40%;
		}
		#mobile{
			display:none;
		}
		#ple{
			max-width:300px;
		}
		#rec{
			max-width:1140px;
		}
	}
		@media only screen and (max-width: 1400px) and (min-width: 1270px) {
			#rec{
				 max-width:1040px;
			}
			#cat{
				margin:5% auto;
				max-width:570px;
				
				
				
			}
		#iad{
			margin-left:40%;
		}
		#mobile{
			display:none;
		}
		#ple{
			max-width:300px;
		}
			
	}
	@media only screen and (max-width: 1270px) and (min-width: 950px) {
			#rec{
				 max-width:840px;
			}
			#cat{
				margin:5% auto;
				max-width:570px;
				
				
				
			}
		#iad{
			margin-left:40%;
		}
		#mobile{
			display:none;
		}
		#ple{
			max-width:300px;
		}
			
	}
</style>


<div  id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
  <div  style="margin-top:-20px;"class="carousel-inner">
    <div  class="carousel-item active" data-interval="10000">
      <img style=" height: 300px;padding-top:-10px; width:100%; background-size: cover " src="https://res.cloudinary.com/tycoon/image/upload/v1576515476/Capture_amplmj.png" alt="https://images.unsplash.com/photo-1478104718532-efe04cc3ff7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80">
    </div>
    <div  class="carousel-item" data-interval="2000">
      <img style=" height: 300px; width:1500px; background-size: cover " src="https://res.cloudinary.com/tycoon/image/upload/v1577267015/fsdgdgdfg_nqly6b.png" alt="https://images.unsplash.com/photo-1457301547464-91995555cd25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1073&q=80">
    </div>
    <div class="carousel-item">
      <img style=" height: 300px;up:20px; width:auto; background-size: cover " src="https://res.cloudinary.com/tycoon/image/upload/v1578051546/offer_mhmifn.png" class="d-block w-100" alt="https://res.cloudinary.com/tycoon/image/upload/v1576515476/Capture_amplmj.png">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> 

	<div  class="row text-center" style="display:flex;">
		<div  id="ple" class="col-lg-3 col-sm-5 col-xm-12 "  style="border: 2px solid grey; padding-top: 20px; ">
			<div style="width:280px;" id="big"class="list-group">
				  <a href="#" class="list-group-item btn btn-light list-group-item-action active" >
					CATEGORIES
				  </a>
				
			
				
	<div  style="max-width:600px" >
	<div class="ui fluid vertical menu">
		
	<div class="ui link item ">
    
	  
    <a  href="/adPost/category/all" class="text"><i class="home icon"></i>ALL</a>

  </div>
  <div class="ui left pointing simple dropdown link item ">
    <i class="dropdown icon"></i>

    <span class="text"><i class="mobile alternate icon"></i>Mobiles</span>
    <div class="menu" style="margin-top:-42px; ">
		<a class="list-group-item list-group-item-action" class="item" href="/adPost/category/mobile" ><i class="mobile alternate icon"></i>Mobile Phones</a>
      
      <a class="list-group-item list-group-item-action"class="item" href="/adPost/category/mobile"><i class="mobile icon"></i>Accessories</a>
      
      <a  class="list-group-item list-group-item-action" class="item"href="/adPost/category/mobile"><i class="tablet alternate icon"></i>Tablets</a>
		<a class="list-group-item list-group-item-action" href="/adPost/category/mobile"class="item" >Others</a>
    </div>
  </div>
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
	  

    <span class="text"><i class="computer icon"></i>Electronics & Appliances</span>
    <div class="menu" style="margin-top:-42px; ">
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/electronics" ><i class="laptop icon"></i>Laptops</a>
    
      <a class="list-group-item list-group-item-action" href="/adPost/category/electronics" class="item" ><i class="calculator icon"></i>Calculator</a>
      
      <a class="list-group-item list-group-item-action" class="item" href="/adPost/category/electronics" ><i class="mouse pointer icon"></i>Mouse</a>
    
      <a class="list-group-item list-group-item-action"class="item" href="/adPost/category/electronics"><i class="hdd icon"></i>Hard Disks, Pendrives</a>
      
      <a class="list-group-item list-group-item-action" class="item" href="/adPost/category/electronics"><i class="camera retro icon"></i>Camera & Lenses/Lamps</a>
      
      <a class="list-group-item list-group-item-action" class="item" href="/adPost/category/electronics" value="electronics" ><i class="itunes note icon"></i>Headphones & Speakers</a>
    
      <a class="list-group-item list-group-item-action" class="item" href="/adPost/category/electronics" value="electronics"  ><i class="gamepad icon"></i>Games & Entertainment</a>
		<a class="list-group-item list-group-item-action" href="/adPost/category/electronics"class="item" >Others</a>
    </div>
  </div>
		
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="bicycle icon"></i>Cycle</span>
    <div class="menu" style="margin-top:-45px; ">
      <a class="list-group-item list-group-item-action" href="/adPost/category/cycle"  ><i class="bicycle icon"></i>Cycle</a>
      <a class="list-group-item list-group-item-action" href="/adPost/category/cycle"  ><i class="fas fa-biking"></i> Cycle Ascessories</a>
      <a class="list-group-item list-group-item-action" href="/adPost/category/cycle" ><i class="fas fa-motorcycle"></i> Cycle For Rent</a>
		<a class="list-group-item list-group-item-action" href="/adPost/category/cycle"class="item" >Others</a>
    </div>
  </div>
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="book icon"></i>Books & Notes</span> 
    <div class="menu" style="margin-top:-42px; ">
      <a class="list-group-item list-group-item-action" href="/adPost/category/books "><i class="book icon"></i>Academic Books</a>
      
      <a class="list-group-item list-group-item-action" href="/adPost/category/books "><i class="book icon"></i>Novels</a>
      
      <a class="list-group-item list-group-item-action" href="/adPost/category/books "><i class="newspaper outline icon"></i>Class Notes</a>
      
      <a class="list-group-item list-group-item-action" href="/adPost/category/books "><i class="newspaper outline icon"></i>CAT-II Notes</a>
		<a class="list-group-item list-group-item-action" href="/adPost/category/books "class="item" >Others</a>
    </div>
</div>
   <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="microchip icon"></i>Project Components</span>
    <div class="menu" style="margin-top:-42px; ">
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/project"><i class="rss icon"></i>Sensors</a>
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/project" ><i class="microchip icon"></i>Microcontrollers</a>
		<a class="item" class="list-group-item list-group-item-action" href="/adPost/category/project" ><i class="code icon"></i>Others</a>
 
  </div>
		</div>
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="futbol icon"></i>Sports & Outdoor</span>
    <div class="menu" style="margin-top:-42px; ">
      <a  class="item" class="list-group-item list-group-item-action" href="/adPost/category/project"class="item" ><i class="shopping bag icon"></i>Sports Wear</a>
      
      <a  class="item" class="list-group-item list-group-item-action" href="/adPost/category/project"class="item" ><i class="table tennis icon"></i>Sports Equipment</a>
      
      <a  class="item" class="list-group-item list-group-item-action" href="/adPost/category/project" class="item" ><i class="studiovinari icon"></i>Gym & Fitness</a>
      <a  class="item" class="list-group-item list-group-item-action" href="/adPost/category/project" class="item" ><i class="gamepad icon"></i>Musical Instruments</a>
		<a class="list-group-item list-group-item-action" href="/adPost/category/project"class="item" >Others</a>
    </div>
  </div>
	   
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="shopping cart icon"></i>Fashion</span>
    <div class="menu" style="margin-top:-40px; ">
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/Fashion" ><i class="fas fa-socks"></i> Footwear</a>
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/Fashion"  ><i class="fas fa-tshirt"></i> Clothing</a>
      
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/Fashion"  ><i class="fas fa-clock"></i> Watch</a>
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/Fashion" ><i class="fas fa-glasses"></i> Coolers/spectacles</a>
		<a class="list-group-item list-group-item-action" href="/adPost/category/Fashion"class="item" >Others</a>
    </div>
	  </div>
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="gem icon"></i>Jewelery & Cosmetics</span>
    <div class="menu" style="margin-top:-42px; ">
      <a class="list-group-item list-group-item-action" href="/adPost/category/Jewelery" class="item" ><i class="fas fa-ring"></i> Ring</a>
     

      <a class="list-group-item list-group-item-action" href="/adPost/category/Jewelery"  class="item" ><i class="fas fa-gem"></i> Jewelery</a>
      
      <a class="list-group-item list-group-item-action" href="/adPost/category/Jewelery"  class="item"  ><i class="fas fa-eye"></i> Cosmetics</a>
		<a class="list-group-item list-group-item-action" href="/adPost/category/Jewelery"class="item" >Others</a>
    </div>
  </div>
   <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
     <span class="text"><i class="fas fa-user-alt"></i> Personal Care</span>
    
    <div class="menu" style="margin-top: -42px">
      <a class="list-group-item list-group-item-action" href="/adPost/category/Personal_Care"class="item" >Hair Dryer</a>
     
      <a class="list-group-item list-group-item-action" href="/adPost/category/Personal_Care"class="item" >Trimmers</a>
  
      <a class="list-group-item list-group-item-action" href="/adPost/category/Personal_Care"class="item" >Others</a>
    </div>
  </div>
    <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
     <span class="text"><i class="fab fa-xbox"></i> Movies and Games/subscriptions</span>
    
    <div class="menu" style="margin-top: -42px">
      <a class="list-group-item list-group-item-action" href="/adPost/category/Movies" class="item" ><i class="fas fa-video"></i> Movie Tickets</a>
     
      <a class="list-group-item list-group-item-action" href="/adPost/category/Movies"class="item" ><i class="gamepad icon"></i> Popular Games</a>
      <a class="list-group-item list-group-item-action" href="/adPost/category/Movies" class="item" ><i class="fas fa-chess-board"></i> BoardGames/rubix</a>
      
  
      <a class="list-group-item list-group-item-action" href="/adPost/category/Movies" class="item" > Other Subscriptions Sharing</a>
  </div>
	</div>
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
     <span class="text"><i class="food icon"></i>Foods/Snacks</span>
    
    <div class="menu" style="margin-top: -42px">
      <a class="list-group-item list-group-item-action" href="/adPost/category/Foods"class="item"><i class="utensils icon"></i>Food items</a>
     
      <a class="list-group-item list-group-item-action" href="/adPost/category/Foods"class="item"class="item"  ><i class="shopping basket icon"></i>Nutritious Food</a>
  <a class="list-group-item list-group-item-action" href="/adPost/category/Foods"class="item" >Others</a>
    </div>
  </div>
	  
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
     <span class="text"><i class="gem icon"></i>Others</span>
    
    <div class="menu" style="margin-top: -42px">
      <a class="list-group-item list-group-item-action" href="/adPost/category/others" class="item" ><i class="gift icon"></i> Gift Items</a>
     
      <a class="list-group-item list-group-item-action" href="/adPost/category/others" class="item" >Others</a>
  
    </div>
  </div>
	

</div>
</div>

				  
				</div>
		
			<div  class="row text-center" >
		<div  style="width:380px;"  id="bo" class="col-lg-3 col-sm-5 col-xm-12 "  style=" padding-top: 20px; ">
			<div  id="mobile" class="list-group">
				  <a href="#" class="list-group-item btn btn-light list-group-item-action active" >
					CATEGORIES
				  </a>
				
			
				
	<div  style="width:330px" >
	<div  class="ui fluid vertical menu">
		
	<div class="ui link item ">
    
	  
    <a  href="/adPost/category/all" class="text"><i class="home icon"></i>ALL</a>

  </div>
  <div id="in1" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>

    <span class="text"><i class="mobile alternate icon"></i>Mobiles</span>
    <div class="menu" >
		<a class="list-group-item list-group-item-action" class="item" href="/adPost/category/mobile" ><i class="mobile alternate icon"></i>Mobile Phones</a>
      
      <a class="list-group-item list-group-item-action"class="item" href="/adPost/category/mobile"><i class="mobile icon"></i>Accessories</a>
      
      <a  class="list-group-item list-group-item-action" class="item"href="/adPost/category/mobile"><i class="tablet alternate icon"></i>Tablets</a>
		<a class="list-group-item list-group-item-action" href="/adPost/category/mobile"class="item" >Others</a>
    </div>
  </div>
  <div id="in2" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
	  

    <span class="text"><i class="computer icon"></i>Electronics & Appliances</span>
    <div class="menu" >
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/electronics" ><i class="laptop icon"></i>Laptops</a>
    
      <a class="list-group-item list-group-item-action" href="/adPost/category/electronics" class="item" ><i class="calculator icon"></i>Calculator</a>
      
      <a class="list-group-item list-group-item-action" class="item" href="/adPost/category/electronics" ><i class="mouse pointer icon"></i>Mouse</a>
    
      <a class="list-group-item list-group-item-action"class="item" href="/adPost/category/electronics"><i class="hdd icon"></i>Hard Disks, Pendrives</a>
      
      <a class="list-group-item list-group-item-action" class="item" href="/adPost/category/electronics"><i class="camera retro icon"></i>Camera & Lenses</a>
      
      <a class="list-group-item list-group-item-action" class="item" href="/adPost/category/electronics" value="electronics" ><i class="itunes note icon"></i>Headphones & Speakers</a>
    
      <a class="list-group-item list-group-item-action" class="item" href="/adPost/category/electronics" value="electronics"  ><i class="gamepad icon"></i>Games & Entertainment</a>
		<a class="list-group-item list-group-item-action" href="/adPost/category/electronics"class="item" >Others</a>
    </div>
  </div>
		
  <div id="in3" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
    <span class="text"><i class="bicycle icon"></i>Cycle</span>
    <div class="menu" >
      <a class="list-group-item list-group-item-action" href="/adPost/category/cycle"  ><i class="bicycle icon"></i>Cycle</a>
      <a class="list-group-item list-group-item-action" href="/adPost/category/cycle"  ><i class="fas fa-biking"></i>Cycle Ascessories</a>
      <a class="list-group-item list-group-item-action" href="/adPost/category/cycle" ><i class="fas fa-motorcycle"></i>Cycle For Rent</a>
		<a class="list-group-item list-group-item-action" href="/adPost/category/cycle"class="item" >Others</a>
    </div>
	  
  </div>
  <div id="in4" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
    <span class="text"><i class="book icon"></i>Books & Notes</span>
    <div class="menu" >
      <a class="list-group-item list-group-item-action" href="/adPost/category/books"><i class="book icon"></i>Academic Books</a>
      
      <a class="list-group-item list-group-item-action" href="/adPost/category/books"><i class="book icon"></i>Novels</a>
      
      <a class="list-group-item list-group-item-action" href="/adPost/category/books"><i class="newspaper outline icon"></i>Class Notes</a>
      
      <a class="list-group-item list-group-item-action" href="/adPost/category/books"><i class="newspaper outline icon"></i>CAT-II Notes</a>
		<a class="list-group-item list-group-item-action" href="/adPost/category/books"class="item" >Others</a>
    </div>
</div>
   <div id="in5" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
    <span class="text"><i class="microchip icon"></i>Project Components</span>
    <div class="menu" >
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/project"><i class="rss icon"></i>Sensors</a>
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/project" ><i class="microchip icon"></i>Microcontrollers</a>
		<a class="item" class="list-group-item list-group-item-action" href="/adPost/category/project" ><i class="code icon"></i>Others</a>
 
  </div>
		</div>
  <div id="in6" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
    <span class="text"><i class="futbol icon"></i>Sports & Outdoor</span>
    <div class="menu" >
      <a  class="item" class="list-group-item list-group-item-action" href="/adPost/category/project"class="item" ><i class="shopping bag icon"></i>Sports Wear</a>
      
      <a  class="item" class="list-group-item list-group-item-action" href="/adPost/category/project"class="item" ><i class="table tennis icon"></i>Sports Equipment</a>
      
      <a  class="item" class="list-group-item list-group-item-action" href="/adPost/category/project" class="item" ><i class="studiovinari icon"></i>Gym & Fitness</a>
      <a  class="item" class="list-group-item list-group-item-action" href="/adPost/category/project" class="item" ><i class="gamepad icon"></i>Musical Instruments</a>
		<a class="list-group-item list-group-item-action" href="/adPost/category/project"class="item" >Others</a>
    </div>
  </div>
	   
  <div id="in7" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
    <span class="text"><i class="shopping cart icon"></i>Fashion</span>
    <div class="menu" >
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/Fashion" ><i class="fas fa-socks"></i>Footwear</a>
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/Fashion"  ><i class="fas fa-tshirt"></i> Clothing</a>
      
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/Fashion"  ><i class="fas fa-clock"></i>Watch</a>
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/Fashion" ><i class="fas fa-glasses"></i> Coolers/spectacles</a>
		<a class="list-group-item list-group-item-action" href="/adPost/category/Fashion"class="item" >Others</a>
    </div>
	  </div>
  <div id="in8" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
    <span class="text"><i class="gem icon"></i>Jewelery & Cosmetics</span>
    <div class="menu" >
      <a class="list-group-item list-group-item-action" href="/adPost/category/Jewelery" class="item" ><i class="fas fa-ring"></i>Ring</a>
     

      <a class="list-group-item list-group-item-action" href="/adPost/category/Jewelery"  class="item" ><i class="fas fa-gem"></i>Jewelery</a>
      
      <a class="list-group-item list-group-item-action" href="/adPost/category/Jewelery"  class="item"  ><i class="fas fa-eye"></i>Cosmetics</a>
		<a class="list-group-item list-group-item-action" href="/adPost/category/Jewelery"class="item" >Others</a>
    </div>
  </div>
   <div id="in9" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
     <span class="text"><i class="fas fa-user-alt"></i>Personal Care</span>
    
    <div class="menu" >
      <a class="list-group-item list-group-item-action" href="/adPost/category/Personal_Care"class="item" >Hair Dryer</a>
     
      <a class="list-group-item list-group-item-action" href="/adPost/category/Personal_Care"class="item" >Trimmers</a>
  
      <a class="list-group-item list-group-item-action" href="/adPost/category/Personal_Care"class="item" >Others</a>
    </div>
  </div>
    <div id="in10" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
     <span class="text"><i class="fab fa-xbox"></i>Movies and Games/subscriptions</span>
    
    <div class="menu" >
      <a class="list-group-item list-group-item-action" href="/adPost/category/Movies" class="item" ><i class="fas fa-video"></i>Movie Tickets</a>
     
      <a class="list-group-item list-group-item-action" href="/adPost/category/Movies"class="item" ><i class="gamepad icon"></i>Popular Games</a>
      <a class="list-group-item list-group-item-action" href="/adPost/category/Movies" class="item" ><i class="fas fa-chess-board"></i> BoardGames/rubix</a>
      
  
      <a class="list-group-item list-group-item-action" href="/adPost/category/Movies" class="item" >Other Subscriptions Sharing</a>
		<a class="list-group-item list-group-item-action" href="/adPost/category/Movies"class="item" >Others</a>
  </div>
	</div>
  <div id="in11" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
     <span class="text"><i class="food icon"></i>Foods/Snacks</span>
    
    <div class="menu" >
      <a class="list-group-item list-group-item-action" href="/adPost/category/Foods"class="item"><i class="utensils icon"></i>Food items</a>
     
      <a class="list-group-item list-group-item-action" href="/adPost/category/Foods"class="item"class="item"  ><i class="shopping basket icon"></i>Nutritious Food</a>
		<a class="list-group-item list-group-item-action" href="/adPost/category/Foods"class="item" >Others</a>
  
    </div>
  </div>
	  
  <div id="in12" class="ui fluid selection simple dropdown  ">
    <i class="dropdown icon"></i>
     <span class="text"><i class="gem icon"></i>Others</span>
    
    <div class="menu" >
      <a class="list-group-item list-group-item-action" href="/adPost/category/others" class="item" ><i class="gift icon"></i>Gift Items</a>
     
      <a class="list-group-item list-group-item-action" href="/adPost/category/others" class="item" >Others</a>
  
    </div>
  </div>
	

</div>
</div>

				  
				</div>
			
			
		</div>
		
		
		
		
	</div>
			<hr>
			<a href="#" class="list-group-item btn btn-light list-group-item-action active " >
					CHOOSE BY BLOCK
				  </a>
			<div class="row" id="blocks">
				<div id="blocks" class="ac1 mt-lg-3 btn-group col-xl-12" role="group" aria-label="Basic example">
				
			  <a  href="/adPost/category/<%= category1 %>/blocks/all" type="button" style="width:58px" class="border border-danger btn btn-info">All</a>
			  <a href="/adPost/category/<%= category1 %>/blocks/A-BLOCK(MH)" type="button" style="width:58px" class="border border-danger btn btn-info">A(MH)</a>
			  <a href="/adPost/category/<%= category1 %>/blocks/B-BLOCK(MH)" type="button" style="width:58px" class="border border-danger btn btn-info">B(MH)</a>
				  <a href="/adPost/category/<%= category1 %>/blocks/C-BLOCK(MH)" type="button" style="width:58px" class="border border-danger btn btn-info">C(MH)</a>
				
				
			</div>
				<div class="ac1 mt-lg-3 btn-group col-xl-12" role="group" aria-label="Basic example">
					
				
					<a href="/adPost/category/<%= category1 %>/blocks/D-BLOCK(MH)" type="button" style="width:58px" class="border border-danger btn btn-info">D(MH)</a>
				<a href="/adPost/category/<%= category1 %>/blocks/E-BLOCK(MH)" type="button" style="width:58px" class="border border-danger btn btn-info">E(MH)</a>
			  <a href="/adPost/category/<%= category1 %>/blocks/F-BLOCK(MH)" type="button" style="width:58px" class="border border-danger btn btn-info">F(MH)</a>
			  <a href="/adPost/category/<%= category1 %>/blocks/G-BLOCK(MH)" type="button"style="width:58px"  class="border border-danger btn btn-info">G(MH)</a>
			  
			</div>
			<div class="ac1 mt-lg-3 btn-group col-xl-12" role="group" aria-label="Basic example">
					
				
				<a href="/adPost/category/<%= category1 %>/blocks/H-BLOCK(MH)" type="button" style="width:58px" class="border border-danger btn btn-info">H(MH)</a>
				<a href="/adPost/category/<%= category1 %>/blocks/J-BLOCK(MH)"type="button" style="width:58px" class="border border-danger btn btn-info">J(MH)</a>
			  <a href="/adPost/category/<%= category1 %>/blocks/K-BLOCK(MH)"type="button" style="width:58px" class="border border-danger btn btn-info">K(MH)</a>
			  <a href="/adPost/category/<%= category1 %>/blocks/L-BLOCK(MH)" type="button" style="width:58px" class="border border-danger btn btn-info">L(MH)</a>
			  
			</div>
			<div class="ac1 mt-lg-3 btn-group col-lg-12" role="group" aria-label="Basic example">
					
				
				<a href="/adPost/category/<%= category1 %>/blocks/M-BLOCK(MH)" type="button" style="width:58px" class="io border border-danger btn btn-info ">M(MH)</a>
				<a href="/adPost/category/<%= category1 %>/blocks/N-BLOCK(MH)"type="button" style="width:58px" class="border border-danger btn btn-info ">N(MH)</a>
			  <a href="/adPost/category/<%= category1 %>/blocks/P-BLOCK(MH)" type="button" style="width:58px" class="border border-danger btn btn-info ">P(MH)</a>
			  <a href="/adPost/category/<%= category1 %>/blocks/Q-BLOCK(MH)"type="button" style="width:58px" class="border border-danger btn btn-info">Q(MH)</a>
			  
			</div>
			<div class="ac1 mt-lg-3 btn-group col-lg-12" role="group" aria-label="Basic example">
					
				
				<a href="/adPost/category/<%= category1 %>/blocks/A-BLOCK(MH)" type="button" style="width:58px" class="border border-danger btn btn-info">A(WH)</a>
				<a href="/adPost/category/<%= category1 %>/blocks/B-BLOCK(LH)"type="button" style="width:58px" class="border border-danger btn btn-info">B(WH)</a>
			 <!-- <a href="/adPost/category/<%= category1 %>/blocks/C-BLOCK(LH)"type="button" style="width:58px" class="border border-danger btn btn-info">C(Women)</a>
			  <a href="/adPost/category/<%= category1 %>/blocks/D-BLOCK(LH)" type="button" style="width:58px" class="border border-danger btn btn-info">D(Women)</a>-->
			  
			</div>
				<div class="ac1 mt-lg-3 btn-group col-lg-12" role="group" aria-label="Basic example">
				<a href="/adPost/category/<%= category1 %>/blocks/C-BLOCK(LH)"type="button" style="width:58px" class="border border-danger btn btn-info">C(WH)</a>
			  <a href="/adPost/category/<%= category1 %>/blocks/D-BLOCK(LH)" type="button" style="width:58px" class="border border-danger btn btn-info">D(WH)</a>	
				</div>
				<div class="ac1 mt-lg-3 btn-group col-lg-12" role="group" aria-label="Basic example">
				<a href="/adPost/category/<%= category1 %>/blocks/E-BLOCK(LH)" type="button" style="width:58px" class="border border-danger btn btn-info">E(WH)</a>
				<a href="/adPost/category/<%= category1 %>/blocks/E-BLOCK(LH)" type="button" style="width:58px" class="border border-danger btn btn-info">F(WH)</a>

			  
			</div>
			</div>
			
		</div>
		
		<div id="rec" class="col-lg-10 " style="border: 2px solid grey; padding-top: 20px;" >
			<div>
				<h2 class="text-center">
					RECOMMENDED ADS
				</h2>
				 <form  class="form-inline" action="/adPost" method="GET">
      <input  id="iad" class="form-control mr-sm-2" type="search" placeholder="Search By Name" name="search" aria-label="Search">
      <button style="background-color:#85929E;float:left;" class="btn btn-outline-light my-2 my-sm-0 inline" type="submit" value="search"><i class="fa fa-search"></i></button>
    </form>
 
			</div>
			<hr>
						<div >
							<% if(noMatch !== null){ %>
								<h3 style="margin-top:100px">
									<%= noMatch %>
							</h3>
							<h4>
									POST YOUR REQUEST TO GET NOTIFY BY THE SELLER
								</h4>
							<a  style="margin-bottom:10%;" class="btn btn-info btn-lg" href="/adPost/request">
								REQUEST
							</a>
							<% } %>
						</div>
		
				<% adpost.forEach(function(adpost){%>
				<div class="col-lg-2.5 col-md-3 float-left " >
					<div style="margin-bottom:30px;height:380px;" class="card">
						<div style="margin-right:0px" class=" mr-0  badge label-primary  "><i class=" heart icon"></i> <%= adpost.likes.length %></div>
					  <img style="max-height: 150px;" src="<%=adpost.img1%>" class="card-img-top" alt="<%= adpost.adTitle %>">
					  <div class="card-body">
						<h5 class="card-title"><storng><%= adpost.adTitle %></storng></h5>
						<h6 class="card-subtitle mb-2 text-muted"><h5>RS.<%= adpost.price1 %>
							
							</h5></h6>
								   
						  
							 <div>
						<a href="/adPost/<%= adpost._id %>" class="btn btn-block btn-primary">VIEW AD</a>
								 </div>
						  
						  <h6 class="card-subtitle mb-2 mt-2 float-left"><%= adpost.block %></h6>
						  <h6 class="card-subtitle mb-2 mt-2 text-muted float-right"><em><%= moment(adpost.createdAt).fromNow() %></em></h6>
					  </div>
					</div>
<!-- col-md-3 mb-4 border border-secondary p-0 rounded-top -->
				</div>
					<%});%>
				
		</div>
		<hr>
		
	</div>

                
	

	
<% include ../partials/footer   %>
