
<% include ../partials/header %>
<style>
	#car:hover{
		box-shadow: 2px 2px 2px 2px #FFFF08;
	
		width:200px;
	}


</style>


	<div  class="row">					

<% if(currentUser && currentUser.Doctor ){ %>
<div class=" float-left text-center" style="margin-left:500px;margin-top: 30px;" >
					<div style="margin-left:-22%;">
						<div style="margin-left:15%;margin-top:10%;margin-left:3%;" >
					  <a href="/adPost/new"><i class="fas fa-plus-circle fa-4x"></i></a>
					
					</div>
					<h4  style="left:100px;">ADD PATIENT</h4>
				</div>

				
<br>


	 
<br>
<br>
<div  style="height: 5px;width:600px;color: darkslateblue;border-top:6px solid grey;margin-left:-20%;">
	</div>

	
</div>
		<div class="row col-lg-7" style="margin-left:15%;margin-top: 5%;width: 1200px;">
			<div class="col-lg-5 text-center ml-4" style="margin-left: 200px;">
				<h4 style="left:100px;" >FIND PATIENT:</h4>

			</div>

				
					<div class="ui inverted segment" style="width: 1000px;">
						<form class="ui inverted form" style="width: 1000px;" action="/regist" method="post">
						  <div class="equal width fields">
							<div class="field">
							  <label>PATIENT ID</label>
							  <div class="ui fluid input"><input type="text" name="idi" placeholder="PATIENT ID" /></div>
							</div>
							<div class="field">
							  <label>Name:</label>
							  <div  class="ui fluid input"><input name="name" placeholder="+918938374898" type="tel" /></div>
							</div>
						  </div>
						  
						  <button type="submit" value="Register"class="ui button">Submit</button>
						</form>
					  </div>
						  <!-- <form action="/registerph/<%= adpost._id %>" method="post" class="btn btn-sm btn-warning">
  <input type="submit" value="Register" />
</form>  -->

<!-- <form action="/register" method="post"><input name="number" required="" type="tel" placeholder="18005551234" />
  <input type="submit" value="Register" />
</form>
						   -->
					
				
		
		<hr>

	</div>

  <% }else{; %>        


<% adpost.forEach(function(adpost){if(adpost.name == currentUser.name){%>
				<div class="col-lg-2.5 col-md-3 float-left text-center" style="margin:35%;">
					<div style="margin-bottom:30px;height:300px;widht:300px;border-radius:4%;" class="card">
						<div style="margin-right:0px" class=" mr-0  badge label-primary  "></div>
					  <img style="max-height: 150px; border-radius:7%;" src="<%=adpost.img1%>" class="card-img-top" >
					  <div class="card-body">
						<h5 class="card-title"><storng><%= adpost.name %></storng></h5>
						  <h6 class="card-title"><storng>Age: <%= adpost.Age %></storng></h6>
						
							
							
								   
						  
							 <div>
								 <a href="/adPost/<%= adpost._id %>" class="btn btn-block btn-info"><i class="database icon"> </i>View Record</a>
								 
					 </div>
						  
						  
						  
					  </div>
					</div>

				</div>
					<%}});%>




<% }; %>

	
<% include ../partials/footer   %>
