
<% include ../partials/header %>




<div style="padding:0px" id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div  class="carousel-item active" data-interval="10000">
      <img style=" height: 300px;padding-top:-10px; width:100%; background-size: cover " src="https://res.cloudinary.com/tycoon/image/upload/v1576515476/Capture_amplmj.png" alt="https://images.unsplash.com/photo-1478104718532-efe04cc3ff7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80">
    </div>
    <div  class="carousel-item" data-interval="2000">
      <img style=" height: 300px; width:auto; background-size: cover " src="https://images.unsplash.com/photo-1457301547464-91995555cd25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1073&q=80" alt="https://images.unsplash.com/photo-1457301547464-91995555cd25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1073&q=80">
    </div>
    <div class="carousel-item">
      <img style=" height: 300px; width:auto; background-size: cover " src="https://images.unsplash.com/photo-1457301547464-91995555cd25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1073&q=80" class="d-block w-100" alt="https://res.cloudinary.com/tycoon/image/upload/v1576515476/Capture_amplmj.png">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> 

	<div class="row text-center" style="display:flex">
		<div class="col-lg-3 col-sm-5 col-xm-12 "  style="border: 2px solid grey; padding-top: 20px; max-width:300px">
			<div class="list-group">
				  <a href="#" class="list-group-item btn btn-light list-group-item-action active" >
					CATEGORIES
				  </a>
				
				  <!-- <a href="/campgrounds/category/mobile" class="list-group-item list-group-item-action">MOBILES</a>
				  <a href="/campgrounds/category/electronics" class="list-group-item list-group-item-action">ELECTRONICS AND APPLIANCES</a>
				  <a href="/campgrounds/category/cycle"class="list-group-item list-group-item-action">CYCLES</a>
				<a href="/campgrounds/category/cycle"class="list-group-item list-group-item-action">BOOKS AND NOTES</a>

				<a href="/campgrounds/category/cycle"class="list-group-item list-group-item-action">PROJECT COMPONENTS</a>

				<a href="/campgrounds/category/cycle"class="list-group-item list-group-item-action">SPORTS AND OUTDOORS</a>
				<a href="/campgrounds/category/cycle"class="list-group-item list-group-item-action">FASHION</a>
				<a href="/campgrounds/category/cycle"class="list-group-item list-group-item-action">SPORTS AND OUTDOORS</a>
				<a href="/campgrounds/category/cycle"class="list-group-item list-group-item-action">SPORTS AND OUTDOORS</a>
				<a href="/campgrounds/category/cycle"class="list-group-item list-group-item-action">SPORTS AND OUTDOORS</a> -->
				
	<div  style="max-width:600px" >
	<div class="ui fluid vertical menu">
		
		<div class="ui link item ">
    
	  
    <a  href="/adPost/category/all" class="text"><i class="home icon"></i>ALL</a>
    <!-- <div class="menu" style="margin-top:-42px; ">
		<a class="list-group-item list-group-item-action" class="item" href="/campgrounds/category/mobile" ></i>Mobile Phones</a>
      
     
     
    </div> -->
  </div>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
  
  <div class="ui left pointing simple dropdown link item ">
    <i class="dropdown icon"></i>
	  
	  
	  
	  
	  
    <span class="text"><i class="mobile alternate icon"></i>Mobiles</span>
    <div class="menu" style="margin-top:-42px; ">
		<a class="list-group-item list-group-item-action" class="item" href="/adPost/category/mobile" ><i class="mobile alternate icon"></i>Mobile Phones</a>
      
      <a class="list-group-item list-group-item-action"class="item" href="/adPost/category/mobile"><i class="mobile icon"></i>Accessories</a>
      
      <a  class="list-group-item list-group-item-action" class="item"href="/adPost/category/mobile"><i class="tablet alternate icon"></i>Tablets</a>
    </div>
  </div>
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
	  
	  
	  
	  
	  
    <span class="text"><i class="computer icon"></i>Electronics & Appliances</span>
    <div class="menu" style="margin-top:-42px; ">
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/electronics" ><i class="laptop icon"></i>Laptops</a>
    
      <a class="list-group-item list-group-item-action" href="/adPost/category/electronics" class="item" ><i class="calculator icon"></i>Calculator</a>
      
      <a class="list-group-item list-group-item-action" class="item" href="/adPost/category/electronics" ><i class="mouse pointer icon"></i>Mouse</a>
    
      <a class="list-group-item list-group-item-action"class="item" href="/adPost/category/electronics"><i class="hdd icon"></i>Hard Disks, Pendrives</a>
      
      <a class="list-group-item list-group-item-action" class="item" href="/adPost/category/electronics"><i class="camera retro icon"></i>Camera & Lenses</a>
      
      <a class="list-group-item list-group-item-action" class="item" href="/adPost/category/electronics" value="electronics" ><i class="itunes note icon"></i>Headphones & Speakers</a>
    
      <a class="list-group-item list-group-item-action" class="item" href="/adPost/category/electronics" value="electronics"  ><i class="gamepad icon"></i>Games & Entertainment</a>
    </div>
  </div>
		
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="bicycle icon"></i>Cycle</span>
    <div class="menu" style="margin-top:-45px; ">
      <a class="list-group-item list-group-item-action" href="/adPost/category/cycle"  ><i class="bicycle icon"></i>Cycle</a>
      <a class="list-group-item list-group-item-action" href="/adPost/category/cycle"  ><i class="bicycle icon"></i>Cycle Ascessories</a>
      <a class="list-group-item list-group-item-action" href="/adPost/category/cycle" ><i class="bicycle icon"></i>Cycle For Rent</a>
    </div>
  </div>
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="book icon"></i>Books & Notes</span>
    <div class="menu" style="margin-top:-42px; ">
      <a class="list-group-item list-group-item-action" href="/adPost/category/books"><i class="book icon"></i>Academic Books</a>
      
      <a class="list-group-item list-group-item-action" href="/adPost/category/books"><i class="book icon"></i>Novels</a>
      
      <a class="list-group-item list-group-item-action" href="/adPost/category/books"><i class="newspaper outline icon"></i>Class Notes</a>
      
      <a class="list-group-item list-group-item-action" href="/adPost/category/books"><i class="newspaper outline icon"></i>CAT-II Notes</a>
    </div>
</div>
   <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="microchip icon"></i>Project Components</span>
    <div class="menu" style="margin-top:-42px; ">
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/project"><i class="rss icon"></i>Sensors</a>
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/project" ><i class="microchip icon"></i>Microcontrollers</a>
		<a class="item" class="list-group-item list-group-item-action" href="/adPost/category/project" ><i class="code icon"></i>Others</a>
 
  </div>
		</div>
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="futbol icon"></i>Sports & Outdoor</span>
    <div class="menu" style="margin-top:-42px; ">
      <a  class="item" class="list-group-item list-group-item-action" href="/adPost/category/project"class="item" ><i class="shopping bag icon"></i>Sports Wear</a>
      
      <a  class="item" class="list-group-item list-group-item-action" href="/adPost/category/project"class="item" ><i class="table tennis icon"></i>Sports Equipment</a>
      
      <a  class="item" class="list-group-item list-group-item-action" href="/adPost/category/project" class="item" ><i class="studiovinari icon"></i>Gym & Fitness</a>
      <a  class="item" class="list-group-item list-group-item-action" href="/adPost/category/project" class="item" ><i class="gamepad icon"></i>Musical Instruments</a>
    </div>
  </div>
	   
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="shopping cart icon"></i>Fashion</span>
    <div class="menu" style="margin-top:-40px; ">
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/Fashion" >Footwear</a>
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/Fashion"  >Clothing</a>
      
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/Fashion"  >Watch</a>
      <a class="item" class="list-group-item list-group-item-action" href="/adPost/category/Fashion" >Coolers/spectacles</a>
    </div>
	  </div>
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
    <span class="text"><i class="gem icon"></i>Jewelery & Cosmetics</span>
    <div class="menu" style="margin-top:-42px; ">
      <a class="list-group-item list-group-item-action" href="/adPost/category/Jewelery" class="item" >Ring</a>
     

      <a class="list-group-item list-group-item-action" href="/adPost/category/Jewelery"  class="item" >Necklace</a>
      
      <a class="list-group-item list-group-item-action" href="/adPost/category/Jewelery"  class="item"  >Cosmetics</a>
    </div>
  </div>
   <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
     <span class="text"><i class="gem icon"></i>Personal Care</span>
    
    <div class="menu" style="margin-top: -42px">
      <a class="list-group-item list-group-item-action" href="/adPost/category/Personal_Care"class="item" >Hair Dryer</a>
     
      <a class="list-group-item list-group-item-action" href="/adPost/category/Personal_Care"class="item" >Trimmers</a>
  
      <a class="list-group-item list-group-item-action" href="/adPost/category/Personal_Care"class="item" >Others</a>
    </div>
  </div>
    <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
     <span class="text"><i class="gem icon"></i>Movies and Games/subscriptions</span>
    
    <div class="menu" style="margin-top: -42px">
      <a class="list-group-item list-group-item-action" href="/adPost/category/Movie" class="item" ><i class="gamepad icon"></i>Movie Tickets</a>
     
      <a class="list-group-item list-group-item-action" href="/adPost/category/Movie"class="item" ><i class="gamepad icon"></i>Popular Games</a>
      <a class="list-group-item list-group-item-action" href="/adPost/category/Movie" class="item" ><i class="gamepad icon"></i>BoardGames/rubix</a>
      
  
      <a class="list-group-item list-group-item-action" href="/adPost/category/Movie" class="item" >Other Subscriptions Sharing</a>
  </div>
	</div>
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
     <span class="text"><i class="food icon"></i>Foods/Snacks</span>
    
    <div class="menu" style="margin-top: -42px">
      <a class="list-group-item list-group-item-action" href="/adPost/category/Foods"class="item"><i class="utensils icon"></i>Food items</a>
     
      <a class="list-group-item list-group-item-action" href="/adPost/category/Foods"class="item"class="item"  ><i class="shopping basket icon"></i>Nutritious Food</a>
  
    </div>
  </div>
	  
  <div class="ui left pointing simple dropdown item">
    <i class="dropdown icon"></i>
     <span class="text"><i class="gem icon"></i>Others</span>
    
    <div class="menu" style="margin-top: -42px">
      <a class="list-group-item list-group-item-action" href="/adPost/category/others" class="item" ><i class="gift icon"></i>Gift Items</a>
     
      <a class="list-group-item list-group-item-action" href="/adPost/category/others" class="item" >Others</a>
  
    </div>
  </div>
	

</div>
</div>

				  
				</div>
			<hr>
			<a href="#" class="list-group-item btn btn-light list-group-item-action active " >
					CHOOSE BY BLOCK
				  </a>
			<div class="row" id="blocks">
				<div class="mt-lg-3 btn-group col-xl-12" role="group" aria-label="Basic example">
				
			  <a href="/adPost/category/<%= category1 %>/blocks/all" type="button" style="width:58px" class="border border-danger btn btn-info">All</a>
			  <a href="/adPost/category/<%= category1 %>/blocks/A-BLOCK(MH)" type="button" style="width:58px" class="border border-danger btn btn-info">A-M</a>
			  <a href="/adPost/category/<%= category1 %>/blocks/B-BLOCK(MH)" type="button" style="width:58px" class="border border-danger btn btn-info">B-M</a>
				  <a href="/adPost/category/<%= category1 %>/blocks/C-BLOCK(MH)" type="button" style="width:58px" class="border border-danger btn btn-info">C-M</a>
				
				
			</div>
				<div class="mt-lg-3 btn-group col-xl-12" role="group" aria-label="Basic example">
					
				
					<a href="/adPost/category/<%= category1 %>/blocks/D-BLOCK(MH)" type="button" style="width:58px" class="border border-danger btn btn-info">D-M</a>
				<a href="/adPost/category/<%= category1 %>/blocks/E-BLOCK(MH)" type="button" style="width:58px" class="border border-danger btn btn-info">E-M</a>
			  <a href="/adPost/category/<%= category1 %>/blocks/F-BLOCK(MH)" type="button" style="width:58px" class="border border-danger btn btn-info">F-M</a>
			  <a href="/adPost/category/<%= category1 %>/blocks/G-BLOCK(MH)" type="button"style="width:58px"  class="border border-danger btn btn-info">G-M</a>
			  
			</div>
			<div class="mt-lg-3 btn-group col-xl-12" role="group" aria-label="Basic example">
					
				
				<a href="/adPost/category/<%= category1 %>/blocks/H-BLOCK(MH)" type="button" style="width:58px" class="border border-danger btn btn-info">H-M</a>
				<a href="/adPost/category/<%= category1 %>/blocks/J-BLOCK(MH)"type="button" style="width:58px" class="border border-danger btn btn-info">J-M</a>
			  <a href="/adPost/category/<%= category1 %>/blocks/K-BLOCK(MH)"type="button" style="width:58px" class="border border-danger btn btn-info">K-M</a>
			  <a href="/adPost/category/<%= category1 %>/blocks/L-BLOCK(MH)" type="button" style="width:58px" class="border border-danger btn btn-info">L-M</a>
			  
			</div>
			<div class="mt-lg-3 btn-group col-lg-12" role="group" aria-label="Basic example">
					
				
				<a href="/adPost/category/<%= category1 %>/blocks/M-BLOCK(MH)" type="button" style="width:58px" class="io border border-danger btn btn-info ">L-M</a>
				<a href="/adPost/category/<%= category1 %>/blocks/N-BLOCK(MH)"type="button" style="width:58px" class="border border-danger btn btn-info ">M-M</a>
			  <a href="/adPost/category/<%= category1 %>/blocks/O-BLOCK(MH)" type="button" style="width:58px" class="border border-danger btn btn-info ">N-M</a>
			  <a href="/adPost/category/<%= category1 %>/blocks/P-BLOCK(MH)"type="button" style="width:58px" class="border border-danger btn btn-info">P-M</a>
			  
			</div>
			<div class="mt-lg-3 btn-group col-lg-12" role="group" aria-label="Basic example">
					
				
				<a href="/adPost/category/<%= category1 %>/blocks/Q-BLOCK(MH)" type="button" style="width:58px" class="border border-danger btn btn-info">Q-M</a>
				<a href="/adPost/category/<%= category1 %>/blocks/A-BLOCK(LH)"type="button" style="width:58px" class="border border-danger btn btn-info">A-G</a>
			  <a href="/adPost/category/<%= category1 %>/blocks/B-BLOCK(LH)"type="button" style="width:58px" class="border border-danger btn btn-info">B-G</a>
			  <a href="/adPost/category/<%= category1 %>/blocks/C-BLOCK(LH)" type="button" style="width:58px" class="border border-danger btn btn-info">C-G</a>
			  
			</div>
				<div class="mt-lg-3 btn-group col-lg-12" role="group" aria-label="Basic example">
					
				
				<a href="/adPost/category/<%= category1 %>/blocks/D-BLOCK(LH)" type="button" style="width:58px" class="border border-danger btn btn-info">D-G</a>
				<a href="/adPost/category/<%= category1 %>/blocks/E-BLOCK(LH)" type="button" style="width:58px" class="border border-danger btn btn-info">E-G</a>
			  <a href="/adPost/category/<%= category1 %>/blocks/F-BLOCK(LH)" type="button" style="width:58px" class="border border-danger btn btn-info">F-G</a>
			  <a href="/adPost/category/<%= category1 %>/blocks/G-BLOCK(LH)" type="button" style="width:58px" class="border border-danger btn btn-info">G-G</a>
			  
			</div>
			</div>
			
		</div>
		
		<div class="col-lg-10 " style="border: 2px solid grey; padding-top: 20px;max-width:1220px" >
			<div>
				<h2 class="text-center">
					RECOMMENDED ADS
				</h2>
			</div>
			<hr>
						<div >
							<% if(noMatch !== null){ %>
								<h3 style="margin-top:100px">
									<%= noMatch %>
							</h3>
							<h4>
									POST YOUR REQUEST TO GET NOTIFY BY THE SELLER
								</h4>
							<a class="btn btn-info btn-lg" href="/adPost/request">
								REQUEST
							</a>
							<% } %>
						</div>
		
				<% adpost.forEach(function(adpost){%>
				<div class="col-lg-2.5 col-md-3 float-left " >
					<div style="margin-bottom:30px;" class="card">
						<div style="margin-right:0px" class=" mr-0  badge label-primary  "><i class=" heart icon"></i> <%= adpost.likes.length %></div>
					  <img style="max-height: 150px;" src="<%=adpost.img1%>" class="card-img-top" alt="<%= adpost.adTitle %>">
					  <div class="card-body">
						<h5 class="card-title"><storng><%= adpost.adTitle %></storng></h5>
						<h6 class="card-subtitle mb-2 text-muted"><h5>RS.<%= adpost.price1 %>
							
							</h5></h6>
								   
						  
							 <div>
						<a href="/adPost/<%= adpost._id %>" class="btn btn-block btn-primary">VIEW AD</a>
								 </div>
						  
						  <h6 class="card-subtitle mb-2 mt-2 float-left"><%= adpost.block %></h6>
						  <h6 class="card-subtitle mb-2 mt-2 text-muted float-right"><em><%= moment(adpost.createdAt).fromNow() %></em></h6>
					  </div>
					</div>
<!-- col-md-3 mb-4 border border-secondary p-0 rounded-top -->
				</div>
					<%});%>
				
		</div>
		<hr>
		
	</div>
                
	

<!-- <div class="ui left sidebar visible ">
<!-- 			
		<div class="item">
  <div class="header">Introduction</div>
  <div class="menu">
    
      <a class="item" href="/introduction/integrations.html">
        Integrations
      </a>
    
      <a class="item" href="/introduction/build-tools.html">
        Build Tools
      </a>
    
      <a class="item" href="/introduction/advanced-usage.html">
        Recipes -->

<!-- <div class="item">
  <div class=" header">Globals</div>
  <div class="menu">
    
      <a class="item" href="/globals/reset.html">
        Reset
        
      </a>
    
      <a class="item" href="/globals/site.html">
        Site
        
      </a>
    
  </div>
</div>
<div class="item">
  <div class="active  header">Elements</div>
  <div class="menu">
    
      <a class="item" href="/elements/button.html">
        Button
        
      </a>
    
      <a class="item" href="/elements/container.html">
        Container
        
      </a>
    
      <a class="item" href="/elements/divider.html">
        Divider
        
      </a>
    
      <a class="item" href="/elements/flag.html">
        Flag
        
      </a>
    
      <a class="item" href="/elements/header.html">
        Header
        
      </a>
    
      <a class="item" href="/elements/icon.html">
        Icon
        
      </a>
    
      <a class="item" href="/elements/image.html">
        Image
        
      </a>
    
      <a class="item" href="/elements/input.html">
        Input
        
      </a>
    
      <a class="item" href="/elements/label.html">
        Label
        
      </a>
    
      <a class="item" href="/elements/list.html">
        List
        
      </a>
    
      <a class="item" href="/elements/loader.html">
        Loader
        
      </a>
    
      <a class="item" href="/elements/placeholder.html">
        Placeholder
        
      </a>
    
      <a class="item" href="/elements/rail.html">
        Rail
        
      </a>
    
      <a class="item" href="/elements/reveal.html">
        Reveal
        
      </a>
    
      <a class="item" href="/elements/segment.html">
        Segment
        
      </a>
    
      <a class="item" href="/elements/step.html">
        Step
        
      </a>
    
  </div>
</div>
				
			
			
</div> -->
<!-- <div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
      <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
    </div>
  </div>
</div>
 -->
	


<% include ../partials/footer %>
