
<% include ../partials/header %>

<div style="margin-top:200px;" class="container text-center col-lg-5">
<img style="margin-left:25%;" class="ui medium circular image" src="<%= patient.img1 %>">
	<br>
	<h5>
		<%= patient.name %>
		<% console.log(patient.name) %>
	</h5>
	<h5>
		<%= patient.Age %>
	</h5>
	<div class="btn btn-success"><%= patient.phone %></div>

</div>
<br>
<hr>
<h4 class="text-center" style="text-shadow:4px;">
	ADD RECORDS
	<br>
	<a href="/adPost/newrecord"><i style="width:10px;height:10px;" class="plus square outline icon"></i></a>
</h4>

<h3 style="margin-left:43%;margin-top:60px;" class="col-lg-9">
	PAST RECORDS
</h3>
<div class="container col-lg-9 text-center" style="widht:1000px;">
<% console.log(report) %> 
<% report.forEach(function(report){ %>
<a href="/adPost/report/<%= report._id %>">
<div style="border-radius:5%;width:1000px; ">
	
	<div class="card text-white bg-info mb-3 mb-4" style="max-width: 38rem;margin-left:30%;">
  <div class="card-header"> <%= moment(report.createdAt).fromNow() %></div>
  <div class="card-body">
    <h5 class="card-title"><%= report.problem %></h5>
	  <p class="card-text">Reported by: <%= report.doctor %>
		  
	  </p>
    
  </div>
</div>
</div>
	
</a>
<% }); %>










<% include ../partials/footer   %>