
<% include ../partials/header %>

<style>
	#sec:hover{
		background-color:#00ff00;
	}

.input-group.md-form.form-sm.form-1 input{
border: 1px solid #bdbdbd;
border-top-right-radius: 0.25rem;
border-bottom-right-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input {
border: 1px solid #bdbdbd;
border-top-left-radius: 0.25rem;
border-bottom-left-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.red-border {
border: 1px solid #ef9a9a;
}
.input-group.md-form.form-sm.form-2 input.lime-border {
border: 1px solid #cddc39;
}
.input-group.md-form.form-sm.form-2 input.amber-border {
border: 1px solid #ffca28;
}
	@media only screen and (max-width: 700px) {
			#cc{
				margin-left:-10%;
				margin:2%;
					min-height:500px;
		
				width:300px;
				
			}
		#to{
			float:left;
			margin:8%;
			left:-60px;
		
		}
		#fo{
			margin-left:5%;
		}
		#del{
			margin-left:20px;margin-top:-65px;
		}
		.wh{
			margin-top:40px;
			margin-left:10px;
		}
	}
	
		@media only screen and (min-width: 1200px) {
		
			#cc{
				margin:15px;
				height:400px;
			}
			#to{
				margin-top:-15px; padding-left:250px;float:left;
			}
			#fo{
				margin-left:40%;
			}
			#nn{
				display:none;
			}
			#del{
				margin-bottom:20px;margin-top:-10px;float:right;
			}
			.wh{
				margin-top:-20px;
				float:right;
			}
			
}
	}
</style>


<div style="margin:-3.8% 0%;margin-bottom:-100px;margin-top:-80px;min-height:100%;background-color: #85929E;background-repeat:no-repeat;background-size:cover;">


			
	
		<hr>
	  
	
<div  class="py-5 text-center ">
    <h2 style="margin-top:5%;" id="newlyccc">ShareMyCab - Request</h2>
    <p class="lead">Request someone to join with them in their journey</p>
</div>
		<form action="/share" method="GET" class="form-inline">
							<div id="fo" style="" class="form-group">
					<div style="width:340px;" class="input-group md-form form-sm form-1 pl-0">
								  <div class="input-group-prepend">
									<span id= "sec" class="input-group-text cyan lighten-2 " id="basic-text1"><i  class="fas fa-search  "
										aria-hidden="true"></i></span>
								  </div>
  <input  name="search2" class="form-control" type="text" placeholder="YYYY/MM/DD" aria-label="Search"><a href="/share/new" class="btn btn-success mx-2 float-right">
		post new journey
	</a>
</div>
							
							</div>
</form>
	
	<div class="text-center" style="margin-left:6%;margin-top:5%;" >
							<% if(noMatch !== null){ %>
											<% console.log(noMatch) %>
								<h3 >
									<%= noMatch %>
							</h3>
							<h4>
									POST YOUR REQUEST TO GET NOTIFY BY THE SELLER
								</h4>
							<a  style="margin-bottom:10%;" class="btn btn-info btn-lg" href="/share/new">
								REQUEST
							</a>
							<% } %>
						</div>
	
<div style="margin-left:30px;margin-bottom:5%;height:100%;" class="row ">
<% share.forEach(function(share){%>
	

	  
	  <div id="cc" class="card col-lg-4 "style="max-width:450px;" >
      <div style="background-color:#FD714B" class="card-header">
        <h4 class="text-center font-weight-normal"><%=share.name%></h4>
      </div>
      <div class="card-body">
		
        <h5 class="card-title pricing-card-title"><i class="calendar alternate icon"></i><%= share.date %>    <span style="left-margin:-6%;" class="float-right"><i class=" clock icon"></i><%= share.time %></span></h5>
		
      
				  <div style="margin-top:50px;">
					  <label for= "from"><h5>From Location:</h5></label>
					  <div  id="from">
						  <%= share.fromPlace %>
				  </div>
				
					   <div >
						  <label  style="float:right;margin-top:-12%; "for= "to"><h5>To Location:</h5></label>
						  <div  id="to">
							  <%= share.toPlace %>
					  </div>
					</div>
		  </div>
		  <hr style="weight:3px;">
		  <label for="describe"><h5>
			  Description:
			  </h5></label>
		  <div id="describe" style="margin-bottom:50px;" >
			  <%= console.log(share.description) %>
			  <%= share.description %>
		  </div>
		<div class="well">
  <div id="datetimepicker1" class="input-append date">
  
  </div>
</div>
          <hr style="weight:3px;">
     <label for="language"><h5>
		 Languare Preference:
		 </h5></label><br>
         <span id="language" style="float:left;">1.<%= share.preference1  %><span> </span>2.<%= share.preference2 %></span><a class="wh" type="submit" style="" href="https://api.whatsapp.com/send?phone=91<%= share.phone %>" class=""><img src="https://img.icons8.com/color/48/000000/whatsapp.png"></a> 
		
		  	  <% if(currentUser && share.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
					
								

						
									<form id="delete-form" action="share/<%= share._id %>?_method=DELETE" method="POST">
									<button id="del" style="" class="btn btn-danger">DELETE</button>	
										
										
									</form>
				
						<% } %>
		</div>
      </div>
	
						<% }); %>
	
	
</div>
  
	 
    

<hr>

</div>

<script>

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

var searchBar = $("#searchBar");
var search = $('.search');

searchBar.focusin(function() {
	search.addClass('active');
});
searchBar.focusout(function() {
	search.removeClass('active');
});

</script>
 

	
	
<% include ../partials/footer %>

