
<% include ../partials/header %>
<style>
	@media only screen and (max-width: 700px) {
			#pic{
				
				margin:30% 20%;
				
				
				
			}
		#margi{
			margin-top:-12%;
		}
	}
	@media only screen and (min-width: 1200px) {
			#pic{
				
				
				
				
			}
		#margi{
margin-top:-60px;}
	}
</style>
<div id="margi" style="background-color:#A3E4D7;background-size:cover;background-repeat:repeat-y;  background-attachment: scroll; margin-bottom:-25%;height:680%;max-height:700%;">

<div style="margin-top:7%;" class="text-center">
	

	<a style="margin-top:15%;" href="mailto:<%= user.username %>">Email To: <i class="fas fa-envelope"></i>  <%= user.username %></a>
	<h3>
			<%= user.name %>'s Advertisements:
		</h3>
	<hr>
</div>
		
	
		
	
		<div style="margin:0% 2% 5% 10%; margin-bottom:20%" class="row ">
			<% campgrounds.forEach(function(campground) { %>
			<div id ="pic" style="float:left;margin-left:40px; margin-bottom:10%;padding:15px 0px;max-height:300px;" class=" text-center  card col-lg-3 float-right">
				<h4 style="background:#d3d3d3" class="well well-sm "><strong><%= campground.adTitle %></strong></h4>
			<img style="height:250px;" src="<%= campground.img1 %>">
					<h5 style="padding-top:5px;" >
						RS.<%= campground.price1 %>

				</h5>
				<div>
						<a href="/adPost/<%= campground._id %>" class="btn btn-block btn-primary">VIEW AD</a>
								 </div>
			</div>
			<%	}); %>
		</div>

	
</div>
<% include ../partials/footer %>