
<% include ../partials/header %>

<div class="text-center">
	<h1>
			<%= user.firstName + " " + user.lastName %>
		</h1>

	<a href="mailto:<%= user.username %>">Email To: <i class="fas fa-envelope"></i>  <%= user.username %></a>
	<h3>
			<%= user.username %>'s Advertisements:
		</h3>
	<hr>
</div>
		
	
		
	
		<div style="margin-left:180px;" class="row">
			<% campgrounds.forEach(function(campground) { %>
			<div style="float:left;margin-left:40px; margin:20px;padding:15px 0px;" class=" text-center  card col-lg-3 float-right">
				<h4 style="background:#d3d3d3" class="well well-sm "><strong><%= campground.adTitle %></strong></h4>
			<img src="<%= campground.img1 %>">
					<h5 style="padding-top:5px;" >
						RS.<%= campground.price1 %>

				</h5>
				<div>
						<a href="/adPost/<%= campground._id %>" class="btn btn-block btn-primary">VIEW AD</a>
								 </div>
			</div>
			<%	}); %>
		</div>
<!-- //facebook information -->
		<!-- <div class="col-sm-6">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                <p>
                    <strong>id</strong>: <%= user.facebook.id %><br>
                    <strong>token</strong>: <%= user.facebook.token %><br>
                    <strong>email</strong>: <%= user.facebook.email %><br>
                    <strong>name</strong>: <%= user.facebook.name %>
                </p>

            </div>
        </div>
	
		
 -->

<% include ../partials/footer %>